extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        #dashboard-menu.collapse.sidebar-collapse
                            .profile-wrapper
                                .profile-wrapper-thumb
                                    img.img-responsive.img-circle(src='assets/img/user-3.jpg' alt='')
                                    span.dashboard-user-status.bg-success
                                h4 Duke Daniel
                            ul#main-menu.nav
                                li
                                    a(href='dashboard.html')
                                        i.fa.fa-dashboard(aria-hidden='true')
                                        | Dashboard
                                li
                                    a(href='messages.html')
                                        i.ti-email(aria-hidden='true')
                                        | Messages
                                li
                                    a(href='javascript:void(0)')
                                        i.fa.fa-clone(aria-hidden='true')
                                        | Manage Listing 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='manage-hotels.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Hotels
                                        li
                                            a(href='manage-tours.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Tours
                                        li
                                            a(href='manage-destinations.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Destinations
                                        li
                                            a(href='manage-restaurants.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Restaurants
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-location-pin(aria-hidden='true')
                                        | Add Listings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='http://themezhub.com/')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Hotels
                                        li
                                            a(href='add-tours.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Tours
                                        li
                                            a(href='add-destinations.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Destinations
                                        li
                                            a(href='add-restaurants.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Restaurants
                                li
                                    a(href='invoice.html')
                                        i.fa-print(aria-hidden='true')
                                        | Invoice
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-calendar(aria-hidden='true')
                                        | My Booking 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='booking-2.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Booking 1
                                        li
                                            a(href='booking-2.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Booking 2
                                li
                                    a(href='javascript:void(0)')
                                        i.fa.fa-cog(aria-hidden='true')
                                        | Settings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='basic-settings.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Basic Settings
                                        li
                                            a(href='site-settings.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Site Settings
                                li.active
                                    a(href='my-profile.html')
                                        i.ti-user(aria-hidden='true')
                                        | My Profile
                                li
                                    a(href='add-payment-methode.html')
                                        i.ti-credit-card(aria-hidden='true')
                                        | Add Payment Methode
                                li.log-off
                                    a(href='login.html')
                                        i.fa.fa-power-off(aria-hidden='true')
                                        | Logout
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title My Profile
                            .tr-single-body
                                .row
                                    // col-md-4
                                    .col-md-4
                                        p
                                            label First Name
                                            input#firstname.form-control(type='text' value='Shaurya' name='firstname')
                                        p
                                            label Last Name
                                            input#secondname.form-control(type='text' value='Preet' name='firstname')
                                        p
                                            label Email
                                            input#useremail.form-control(type='text' value='danielraj@gmail.com' name='useremail')
                                        p
                                            label About Me
                                            textarea#about_me.form-control(name='about_me')
                                        p
                                            label I live in
                                            input#live_in.form-control(type='text' value='' name='live_in')
                                        p
                                            label I speak
                                            input#i_speak.form-control(type='text' value='' name='i_speak')
                                        p
                                            label Payment Info/Hidden Field
                                            textarea#payment_info.form-control(name='payment_info' cols='70' rows='3')
                                    // /col-md-4
                                    // col-md-4
                                    .col-md-4
                                        p
                                            label Phone
                                            input#userphone.form-control(type='text' value='' name='userphone')
                                        p
                                            label city
                                            input#usermobile.form-control(type='text' value='' name='usermobile')
                                        p
                                            label Skype
                                            input#userskype.form-control(type='text' value='' name='userskype')
                                        p
                                            label Facebook Url
                                            input#userfacebook.form-control(type='text' value='' name='userfacebook')
                                        p
                                            label Twitter Url
                                            input#usertwitter.form-control(type='text' value='' name='usertwitter')
                                        p
                                            label Linkedin Url
                                            input#userlinkedin.form-control(type='text' value='' name='userlinkedin')
                                        p
                                            label Pinterest Url
                                            input#userpinterest.form-control(type='text' height='100' value='' name='userpinterest')
                                    // /col-md-4
                                    // col-md-4
                                    .col-md-4
                                        #profile-div.feature-media-upload
                                            img#profile-image.img-responsive(src='assets/img/user-3.jpg' alt='user image')
                                            #upload-container
                                                #aaiu-upload-container(style='position: relative;')
                                                    button#aaiu-uploader.btn.theme-btn.full-width(type='file') Upload Image
                                                span.upload_explain * recommended size: minimum 550px 
                                    // /col-md-4
    block content_contact 
        include _contact

//- block content_footer 
//-     include _footer