extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/banner.jpg);')
        .container
            .page-title-wrap
                h2 Hire Guide
                p
                    a.theme-cl(href='#') Home
                    |  | 
                    span Hire Guide
    // ======================= End Page Title =====================
    // =========== Hire Guider ===================
    section.gray-bg
        .container
            // Row
            .row.mrg-0
                .tr-single-box.short-box
                    .col-xs-4.align-self-center
                        h4 Shorty By
                    .col-xs-8.text-right
                        .btn-group.mr-lg-2
                            button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Most Recent
                            .dropdown-menu.pull-right.animated.flipInX
                                a(href='#') Recent
                                a(href='#') Most Popular
                                a(href='#') Most Ratting
            // /Row
            // Start all guider
            .row
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-1.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-2.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-3.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-4.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-5.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-6.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-7.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-8.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
                // Single Guide
                .col-lg-4.col-md-6.col-sm-6
                    .guide-container
                        .guide-container-box
                            .fguide-thumb
                                img.img-responsive.img-circle(src='assets/img/user-1.jpg' alt='')
                                p.padd-15.text-center
                                    i.fa.fa-star.cl-warning
                                    | 4.7/
                                    span 5
                            .fguide-detail
                                h4 Adam Dicluver
                                ul.extra-service
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-user
                                                .icon-box-text
                                                    strong experience
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5 Year
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-timer
                                                .icon-box-text
                                                    strong Hire
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10,000
                                    li
                                        .icon-box-icon-block
                                            a(href='#')
                                                .icon-box-round
                                                    i.ti-eye
                                                .icon-box-text
                                                    strong View
                                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;16,000
                        .guide-container-links
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | View Profile
                            a.btn.btn-default(href='guide-detail.html')
                                i.ti-user.mrg-r-5
                                | Send Message
            // Start all guider
    block content_contact 
        include _contact

//- block content_footer 
//-     include _footer