extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        #dashboard-menu.collapse.sidebar-collapse
                            .profile-wrapper
                                .profile-wrapper-thumb
                                    img.img-responsive.img-circle(src='assets/img/user-3.jpg' alt='')
                                    span.dashboard-user-status.bg-success
                                h4 Duke Daniel
                            ul#main-menu.nav
                                li
                                    a(href='dashboard.html')
                                        i.fa.fa-dashboard(aria-hidden='true')
                                        | Dashboard
                                li
                                    a(href='messages.html')
                                        i.ti-email(aria-hidden='true')
                                        | Messages
                                li
                                    a(href='javascript:void(0)')
                                        i.fa.fa-clone(aria-hidden='true')
                                        | Manage Listing 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='manage-hotels.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Hotels
                                        li
                                            a(href='manage-tours.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Tours
                                        li
                                            a(href='manage-destinations.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Destinations
                                        li
                                            a(href='manage-restaurants.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Restaurants
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-location-pin(aria-hidden='true')
                                        | Add Listings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='http://themezhub.com/')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Hotels
                                        li
                                            a(href='add-tours.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Tours
                                        li
                                            a(href='add-destinations.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Destinations
                                        li
                                            a(href='add-restaurants.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Restaurants
                                li
                                    a(href='invoice.html')
                                        i.fa-print(aria-hidden='true')
                                        | Invoice
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-calendar(aria-hidden='true')
                                        | My Booking 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='booking-1.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Booking 1
                                        li
                                            a(href='booking-2.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Booking 2
                                li.active
                                    a(href='javascript:void(0)')
                                        i.fa.fa-cog(aria-hidden='true')
                                        | Settings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='basic-settings.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Basic Settings
                                        li
                                            a(href='site-settings.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Site Settings
                                li
                                    a(href='my-profile.html')
                                        i.ti-user(aria-hidden='true')
                                        | My Profile
                                li
                                    a(href='add-payment-methode.html')
                                        i.ti-credit-card(aria-hidden='true')
                                        | Add Payment Methode
                                li.log-off
                                    a(href='login.html')
                                        i.fa.fa-power-off(aria-hidden='true')
                                        | Logout
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title Basic Settings
                            .tr-single-body
                                form.form-horizontal(method='post')
                                    .form-group
                                        label.col-md-2.col-sm-3 Name:
                                        .col-md-10.col-sm-9
                                            input.form-control(type='text' value='Travel Stock - Responsive Tour & Travel Website')
                                    .form-group
                                        label.col-md-2.col-sm-3 URL:
                                        .col-md-10.col-sm-9
                                            input.form-control(type='text' value='https://www.listing-hub.com/')
                                    .form-group
                                        label.col-md-2.col-sm-3 Title:
                                        .col-md-10.col-sm-9
                                            input.form-control(type='text' value='' travel='' stock='' search='' engine='' friendly='')
                                    .form-group
                                        label.col-md-2.col-sm-3 Keyword:
                                        .col-md-10.col-sm-9
                                            input.form-control(type='text' value='Travel, tour, Business..')
                                    .form-group
                                        label.col-md-2.col-sm-3 Description:
                                        .col-md-10.col-sm-9
                                            input.form-control(type='text' value='' travel='' stock='' search='' engine='' friendly='')
                                    .form-group
                                        label.col-md-2.col-sm-3 Contact email:
                                        .col-md-10.col-sm-9
                                            input.form-control(type='text' value='support@travelstock.com')
                                    .form-group
                                        label.col-md-2.col-sm-3 Enable Mobile Site:
                                        .col-md-10.col-sm-9
                                        .sl-box
                                            select.form-control
                                                option Yes
                                                option No
                                    .form-group
                                        label.col-md-2.col-sm-3 Main Content:
                                        .col-md-10.col-sm-9
                                            textarea.form-control.textarea.height-100(placeholder='Description')
                                    .form-group
                                        label.col-md-2.col-sm-3 Submission Terms:
                                        .col-md-10.col-sm-9
                                            textarea.form-control.textarea.height-100(placeholder='Description')
                                    .form-group
                                        label.col-md-2.col-sm-3 Google Analytics Code:
                                        .col-md-10.col-sm-9
                                            textarea.form-control.height-100
                                    .form-group
                                        label.col-md-2.col-sm-3 HTTP Character Set:
                                        .col-md-10.col-sm-9
                                            .sl-box
                                                select.form-control.wide
                                                    option#CHARSET-0(value='ASMO-708') Arabic (ASMO 708) - ASMO-708
                                                    option#CHARSET-1(value='DOS-720') Arabic (DOS) - DOS-720
                                                    option#CHARSET-2(value='iso-8859-6') Arabic (ISO) - iso-8859-6
                                                    option#CHARSET-3(value='x-mac-arabic') Arabic (Mac) - x-mac-arabic
                                                    option#CHARSET-4(value='windows-1256') Arabic (Windows) - windows-1256
                                                    option#CHARSET-5(value='ibm775') Baltic (DOS) - ibm775
                                                    option#CHARSET-6(value='iso-8859-4') Baltic (ISO) - iso-8859-4
                                                    option#CHARSET-7(value='windows-1257') Baltic (Windows) - windows-1257
                                                    option#CHARSET-8(value='ibm852') Central European (DOS) - ibm852
                                                    option#CHARSET-9(value='iso-8859-2') Central European (ISO) - iso-8859-2
                                    .form-group
                                        label.col-md-2.col-sm-3 Upload Logo:
                                        .col-md-10.col-sm-9
                                            label.btn-bs-file.btn
                                                | Browse
                                                input(type='file')
                                    .form-group
                                        label.col-md-2.col-sm-3 Upload Favicon:
                                        .col-md-10.col-sm-9
                                            label.btn-bs-file.btn
                                                | Browse
                                                input(type='file')
                                    .form-group
                                        .col-md-12.col-sm-12.text-center
                                            button.btn.theme-btn(type='submit') Save &amp; Update

    block content_contact 
        include _contact
//- block content_footer 
//-     include _footer