extends base

block content 
    section
        .container
            .error-page.padd-top-30.padd-bot-30
                h1.mrg-top-15.mrg-bot-0.theme-cl.font-250.font-bold 404
                h2.mrg-top-10.mrg-bot-5.funky-font.font-60 You Missed
                p The page you are looking for doesn&apos;t exist 
                a.btn.theme-btn.mrg-top-20(href='index-2.html') Go To Home Page

block content_footer 
    include _footer