#dashboard-menu.collapse.sidebar-collapse
    .profile-wrapper
        .profile-wrapper-thumb
            img.img-responsive.img-circle(src='/assets/img/user-1.jpg' alt='')
            span.dashboard-user-status.bg-success
        h4 Duke Daniel
    ul#main-menu.nav
        li
            a(href='/dashboard')
                i.fa.fa-dashboard(aria-hidden='true')
                | Dashboard
        li
            a(href='/messages')
                i.ti-email(aria-hidden='true')
                | Messages
        li
            a(href='javascript:void(0)')
                i.fa.fa-clone(aria-hidden='true')
                | Manage Listing 
                span.fa.arrow
            ul.nav.nav-second-level
                li
                    a(href='/manage-hotels')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Manage Hotels
                li
                    a(href='/manage-tours')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Manage Tours
                li
                    a(href='/manage-destinations')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Manage Destinations
                li
                    a(href='/manage-restaurants')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Manage Restaurants
        li.active
            a(href='javascript:void(0)')
                i.ti-location-pin(aria-hidden='true')
                | Add Listings 
                span.fa.arrow
            ul.nav.nav-second-level
                li
                    a(href='/add-hotel')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Add Hotels
                li
                    a(href='/add-tour')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Add Tours
                li
                    a(href='/add-destination')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Add Destinations
                li
                    a(href='/add-restaurant')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Add Restaurants
        li
            a(href='/invoice')
                i.fa-print(aria-hidden='true')
                | Invoice
        li
            a(href='/javascript:void(0)')
                i.ti-calendar(aria-hidden='true')
                | My Booking 
                span.fa.arrow
            ul.nav.nav-second-level
                li
                    a(href='/bookings')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Bookings
        li
            a(href='javascript:void(0)')
                i.fa.fa-cog(aria-hidden='true')
                | Settings 
                span.fa.arrow
            ul.nav.nav-second-level
                li
                    a(href='/basic-settings')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Basic Settings
                li
                    a(href='/site-settings')
                        i.fa.fa-circle-o-notch(aria-hidden='true')
                        | Site Settings
        li
            a(href='/my-profile')
                i.ti-user(aria-hidden='true')
                | My Profile
        li.log-off
            a(href='/login')
                i.fa.fa-power-off(aria-hidden='true')
                | Logout