footer.footer.dark-bg
  .container
    // Row Start
    .row
      .col-md-8.col-sm-8
        .row
          .col-md-4.col-sm-4
            ul
              li
                a(href='/destination-grid') Featured Destinations

          .col-md-4.col-sm-4
            ul
              li
                a(href='/tour-grid') Featured Tours

          .col-md-4.col-sm-4
            ul
              li
                a(href='hotel-grid') Featured Hotels

      .col-md-4.col-sm-4
        h4 Subscribe Now
        // Newsletter
        .input-group
          input.form-control(type='text' placeholder='Enter Email')
          span.input-group-btn
            button.btn.btn-default(type='button')
              i.fa.fa-location-arrow.font-20
        // App Links
        .f-app-box
          ul
            li
              a(href='#')
                i.fa.fa-apple
                | App Store
            li
              a(href='#')
                i.fa.fa-android
                | Play Store
