footer.footer.dark-bg
  .container
    // Row Start
    .row
      .col-md-8.col-sm-8
        .row
          .col-md-4.col-sm-4
            h4 Featured Destinations
            ul
              li
                a(href='destination-grid.html') Destination Grid
              li
                a(href='destination-list.html') Destination List
              li
                a(href='destination-grid-sidebar.html') Destination Grid Sidebar
              li
                a(href='destination-list-sidebar.html') Destination List Sidebar
              li
                a(href='destination-detail.html') Destination Detail
              li
                a(href='restaurant-grid.html') Restaurant Grid
          .col-md-4.col-sm-4
            h4 Featured Tours
            ul
              li
                a(href='tour-grid.html') Tour Grid
              li
                a(href='tour-list.html') Tour List
              li
                a(href='tour-grid-sidebar.html') Tour Grid Sidebar
              li
                a(href='tour-list-sidebar.html') tour List Sidebar
              li
                a(href='tour-detail.html') Tour Detail
              li
                a(href='http://themezhub.com/') Restaurant Grid
          .col-md-4.col-sm-4
            h4 Featured Hotels
            ul
              li
                a(href='hotel-grid.html') Hotel Grid
              li
                a(href='hotel-list.html') Hotel List
              li
                a(href='hotel-grid-sidebar.html') Hotel Grid Sidebar
              li
                a(href='hotel-list-sidebar.html') Hotel List Sidebar
              li
                a(href='hotel-detail.html') Hotel Detail
              li
                a(href='restaurant-detail.html') Restaurant Detail
      .col-md-4.col-sm-4
        h4 Subscribe Now
        // Newsletter
        .input-group
          input.form-control(type='text' placeholder='Enter Email')
          span.input-group-btn
            button.btn.btn-default(type='button')
              i.fa.fa-location-arrow.font-20
        // Social Box
        .f-social-box
          ul
            li
              a(href='#')
                i.fa.fa-facebook.facebook-cl
            li
              a(href='#')
                i.fa.fa-google.google-plus-cl
            li
              a(href='#')
                i.fa.fa-twitter.twitter-cl
            li
              a(href='#')
                i.fa.fa-pinterest.pinterest-cl
            li
              a(href='#')
                i.fa.fa-instagram.instagram-cl
        // App Links
        .f-app-box
          ul
            li
              a(href='#')
                i.fa.fa-apple
                | App Store
            li
              a(href='#')
                i.fa.fa-android
                | Play Store
