meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title Tour &amp; Travel  
link(rel='shortcut icon' type='image.png' href='/assets/img/favicon.png')
// Plugins CSS
link(rel='stylesheet' href='assets/plugins/css/plugins.css')
// Custom style
link(href='assets/css/style.css' rel='stylesheet')
link(href='assets/css/responsiveness.css' rel='stylesheet')
link#jssDefault(rel='stylesheet' href='assets/css/skins/default.css')