.confirm-modal.hidden
    textarea.hidden#currentElVal
    button.close-confirm-modal &times;
    h5 confirm information before submitting
        br
        br
        .row#conf_row
        br
        .row
        input(type='submit', value='Submit' id="UpdateSubmitBtn")
.confirm-overlay.hidden