.location-modal.hidden
    h2#errormodal.fs-title ALL FIELDS ARE REQUIRED
    textarea.hidden#currentElVal
    button.close-location-modal &times;
    h5 add location info here
        .row
        .col-25.hidden
            label(for='country') Country
        .col-75.hidden
            select#country(name='country')
                option(value='australia') Australia
                option(value='canada') Canada
                option(value='usa') USA    
        .row
        .col-25
            label(for='locdesc') description:
        .col-75
            input#locdesc(type='text', name='description', value= "Lorem ipsum dolor sit amet", placeholder='location description..')
        .row
        .col-25
            label(for='latval') Latitude:
        .col-75
            input#latval(type='text', name='lat', value = "123", placeholder='latitude value..')
        .row    
        .col-25
            label(for='longval') Langitude:
        .col-75
            input#longval(type='text', name='lat', value = "-123", placeholder='langitude value..')
        .row    
        .col-25
            label(for='dayval') day:
        .col-75
            input#dayval(type='text', name='lat', value= "1", placeholder='day value..')    
        .row    
        .col-25
            label(for='addressval') address:
        .col-75
            input#addressval(type='text', name='address', value= "proin sed, libero enim sed, faucibus turpis", placeholder='address value..')                

        br
        .row
        input(type='submit', value='Submit' id="infosubmit")
.location-overlay.hidden