nav.navbar.navbar-default.navbar-mobile.navbar-fixed.light.bootsnav
  .container
    // Start Logo Header Navigation
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-menu')
        i.fa.fa-bars
      a.navbar-brand(href='/')
        img.logo.logo-display(src='assets/img/logo.png' alt='')
        img.logo.logo-scrolled(src='assets/img/logo.png' alt='')
    // End Logo Header Navigation
    // Collect the nav links, forms, and other content for toggling
    #navbar-menu.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left(data-in='fadeInDown' data-out='fadeOutUp')
        li.dropdown
          a.dropdown-toggle(href='/' data-toggle='dropdown') Home
          ul.dropdown-menu.animated.fadeOutUp
            //- li
            //-   a(href='/') Home
        li.dropdown.megamenu-fw
          a.dropdown-toggle(href='#' data-toggle='dropdown') Brows
          ul.dropdown-menu.megamenu-content(role='menu')
            li
              .row
                .col-menu.col-md-3
                  h6.title Destinations
                  .content
                    ul.menu-col
                      li
                        a(href='/destination-grid') Destination Grid
                      li
                        a(href='/destination-list') Destination List
                      li
                        a(href='/destination-grid-sidebar') Destination Grid Sidebar
                      li
                        a(href='/destination-list-sidebar') Destination List Sidebar
                      li
                        a(href='/destination-detail') Destination Detail
                // end col-3
                .col-menu.col-md-3
                  h6.title Tours
                  .content
                    ul.menu-col
                      li
                        a(href='/tours-grid') Tour Grid
                      li
                        a(href='/tours-list') Tour List
                      li
                        a(href='/tours-grid-sidebar') Tour Grid Sidebar
                      li
                        a(href='/tours-list-sidebar') tour List Sidebar
                      li
                        a(href='/tour-detail') Tour Detail
                // end col-3
                .col-menu.col-md-3
                  h6.title Hotels
                  .content
                    ul.menu-col
                      li
                        a(href='/hotel-grid') Hotel Grid
                      li
                        a(href='/hotel-list') Hotel List
                      li
                        a(href='/hotel-grid-sidebar') Hotel Grid Sidebar
                      li
                        a(href='/hotel-list-sidebar') Hotel List Sidebar
                      li
                        a(href='/hotel-detail') Hotel Detail
                .col-menu.col-md-3
                  h6.title Restaurants
                  .content
                    ul.menu-col
                      li
                        a(href='/restaurant-grid') Restaurant Grid
                      li
                        a(href='/restaurant-list') Restaurant List
                      li
                        a(href='/restaurant-grid-sidebar') Restaurant Grid Sidebar
                      li
                        a(href='/restaurant-list-sidebar') Restaurant List Sidebar
                      li
                        a(href='/restaurant-detail') Restaurant Detail
                // end col-3
              // end row
        li
          a(href='hire-guide') Find Guide
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown') Extra
          ul.dropdown-menu.animated.fadeOutUp

            li
              a(href='/success-page') Success Page
            li
              a(href='/coming-soon') Coming Soon
            li
              a(href='/about-us') About Us
            li
              a(href='/pricing') Pricing
            li
              a(href='/cart') Cart
            li
              a(href='services') Services
            li.dropdown
              a(href='#') View More
              ul.dropdown-menu
                li
                  a(href='/blog') Blog
                li
                  a(href='/faqs') FAQs
                li
                  a(href='/login') LogIn
                li
                  a(href='/signup') SignUp
                li
                  a(href='/contact') Contact
                li
                  a(href='/404') 404
        li
          a(href='/dashboard') Dashboard
      ul.nav.navbar-nav.navbar-right
        li.br-right
          a(href='javascript:void(0)' data-toggle='modal' data-target='#signin')
            i.login-icon.ti-user
            | Login
        li.sign-up
          a.btn-signup.red-btn(href='/tours-grid-sidebar')
            span.ti-briefcase
            | Search Tours
    // /.navbar-collapse
