nav.navbar.navbar-default.navbar-mobile.navbar-fixed.light.bootsnav
  .container
    // Start Logo Header Navigation
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-menu')
        i.fa.fa-bars
      a.navbar-brand(href='/')
        img.logo.logo-display(src='/assets/img/logo.png' alt='')
        img.logo.logo-scrolled(src='/assets/img/logo.png' alt='')
    // End Logo Header Navigation
    // Collect the nav links, forms, and other content for toggling
    #navbar-menu.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left(data-in='fadeInDown' data-out='fadeOutUp')
        li.dropdown
          a.dropdown-toggle(href='/' data-toggle='dropdown') Home
          ul.dropdown-menu.animated.fadeOutUp

        li.dropdown.megamenu-fw
          a.dropdown-toggle(href='#' data-toggle='dropdown') Browse
          ul.dropdown-menu.megamenu-content(role='menu')
            li
              .row
                .col-menu.col-md-3
                  .content
                    ul.menu-col
                      li
                        a(href='/destination-grid') Destinations

                // end col-3
                .col-menu.col-md-3
                  .content
                    ul.menu-col
                      li
                        a(href='/tours-grid') Tours

                // end col-3
                .col-menu.col-md-3
                  .content
                    ul.menu-col
                      li
                        a(href='/hotel-grid') Hotels

                .col-menu.col-md-3
                  .content
                    ul.menu-col
                      li
                        a(href='/restaurant-grid') Restaurants

                // end col-3
              // end row
        li
          a(href='hire-guide') Find Guide
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown') Extra
          ul.dropdown-menu.animated.fadeOutUp

            li
              a(href='/about-us') About Us
            li
              a(href='/pricing') Pricing
            li
              a(href='/cart') Cart
            li
              a(href='services') Services
            li
              a(href='/contact') Contact
        if user
          li
            a(href='/dashboard') Dashboard
      ul.nav.navbar-nav.navbar-right
        if user 
          li.sign-up
            a#logoutbtn.btn-signup.red-btn
              span.ti-briefcase
              | Logout

        else  
          li.br-right
            a(href='javascript:void(0)' data-toggle='modal' data-target='#signin')
              i.login-icon.ti-user
              | Login
          li.sign-up
            a.btn-signup.red-btn(href='/tours-grid-sidebar')
              span.ti-briefcase
              | Search Tours
