.row
    ul.pagination
        li.page-item
            a.page-link(href='#' aria-label='Previous')
                span.ti-arrow-left
                span.sr-only Previous
        li.page-item.active
            a.page-link(href='#') 1
        li.page-item
            a.page-link(href='/?page=2') 2
        li.page-item
            a.page-link(href='/?page=3') 3
        li.page-item
            a.page-link(href='/?page=4') 4
        li.page-item
            a.page-link(href='/?page=5') 5
        li.page-item
            a.page-link(href='#' aria-label='Next')
                span.ti-arrow-right
                span.sr-only Next