.delete-modal.hidden
    textarea.hidden#currentElVal
    button.close-delete-modal &times;
    h5 are you sure you want to delete this listing?
        br
        .row
        input(type='submit', value='delete' id="deleteListingBtn")
.delete-overlay.hidden