mixin sortByRow(gridRoute, listRoute)
    .tr-single-box.short-box
        .col-sm-3.hidden-xs.align-self-center
            h4 sort by
        .col-sm-9.text-right
            .btn-group.mr-lg-2
                button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | sort by
                .dropdown-menu.pull-right.animated.flipInX
                    a(href='#') Ascending
                    a(href='#') Descending
                    a(href='#') Date
            .btn-group
                a.btn.btn-default.tooltips(href=gridRoute, listRoute)
                    i.ti-flix.ti-layout-grid2
            .btn-group
                a.btn.btn-default.tooltips(href=listRoute)
                    i.ti-flix.ti-view-list-alt


