doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tour &amp; Travel Bootstrap Template 
  // Plugins CSS
  link(rel='stylesheet' href='assets/plugins/css/plugins.css')
  // Custom style
  link(href='assets/css/style.css' rel='stylesheet')
  link(href='assets/css/responsiveness.css' rel='stylesheet')
  link#jssDefault(rel='stylesheet' href='assets/css/skins/default.css')
// ======================= Start Navigation =====================
nav.navbar.navbar-default.navbar-mobile.navbar-fixed.light.bootsnav
  .container
    // Start Logo Header Navigation
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-menu')
        i.fa.fa-bars
      a.navbar-brand(href='index-2.html')
        img.logo.logo-display(src='assets/img/logo.png' alt='')
        img.logo.logo-scrolled(src='assets/img/logo.png' alt='')
    // End Logo Header Navigation
    // Collect the nav links, forms, and other content for toggling
    #navbar-menu.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left(data-in='fadeInDown' data-out='fadeOutUp')
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown') Home
          ul.dropdown-menu.animated.fadeOutUp
            li
              a(href='index-2.html') Home 1
            li
              a(href='home-2.html') Home 2
            li
              a(href='home-3.html') Home 3
            li
              a(href='home-4.html') Home 4
            li
              a(href='home-5.html') Home 5
        li.dropdown.megamenu-fw
          a.dropdown-toggle(href='#' data-toggle='dropdown') Brows
          ul.dropdown-menu.megamenu-content(role='menu')
            li
              .row
                .col-menu.col-md-3
                  h6.title Destinations
                  .content
                    ul.menu-col
                      li
                        a(href='destination-grid.html') Destination Grid
                      li
                        a(href='destination-list.html') Destination List
                      li
                        a(href='destination-grid-sidebar.html') Destination Grid Sidebar
                      li
                        a(href='destination-list-sidebar.html') Destination List Sidebar
                      li
                        a(href='destination-detail.html') Destination Detail
                // end col-3
                .col-menu.col-md-3
                  h6.title Tours
                  .content
                    ul.menu-col
                      li
                        a(href='tour-grid.html') Tour Grid
                      li
                        a(href='tour-list.html') Tour List
                      li
                        a(href='tour-grid-sidebar.html') Tour Grid Sidebar
                      li
                        a(href='tour-list-sidebar.html') tour List Sidebar
                      li
                        a(href='tour-detail.html') Tour Detail
                // end col-3
                .col-menu.col-md-3
                  h6.title Hotels
                  .content
                    ul.menu-col
                      li
                        a(href='hotel-grid.html') Hotel Grid
                      li
                        a(href='hotel-list.html') Hotel List
                      li
                        a(href='hotel-grid-sidebar.html') Hotel Grid Sidebar
                      li
                        a(href='hotel-list-sidebar.html') Hotel List Sidebar
                      li
                        a(href='hotel-detail.html') Hotel Detail
                .col-menu.col-md-3
                  h6.title Restaurants
                  .content
                    ul.menu-col
                      li
                        a(href='restaurant-grid.html') Restaurant Grid
                      li
                        a(href='restaurant-list.html') Restaurant List
                      li
                        a(href='restaurant-grid-sidebar.html') Restaurant Grid Sidebar
                      li
                        a(href='restaurant-list-sidebar.html') Restaurant List Sidebar
                      li
                        a(href='restaurant-detail.html') Restaurant Detail
                // end col-3
              // end row
        li
          a(href='hire-guider.html') Find Guide
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown') Extra
          ul.dropdown-menu.animated.fadeOutUp
            li
              a(href='cart.html') Add To Cart
            li
              a(href='payment-methode.html') Paayment Methode
            li
              a(href='success-page.html') Success Page
            li
              a(href='coming-soon.html') Coming Soon
            li
              a(href='about-us.html') About Us
            li
              a(href='pricing.html') Pricing
            li
              a(href='services.html') Services
            li.dropdown
              a(href='#') View More
              ul.dropdown-menu
                li
                  a(href='blog.html') Blog
                li
                  a(href='faqs.html') FAQs
                li
                  a(href='login.html') LogIn
                li
                  a(href='signup.html') SignUp
                li
                  a(href='contact.html') Contact
                li
                  a(href='icons.html') icons
                li
                  a(href='404.html') 404
        li
          a(href='dashboard.html') Dashboard
      ul.nav.navbar-nav.navbar-right
        li.br-right
          a(href='javascript:void(0)' data-toggle='modal' data-target='#signin')
            i.login-icon.ti-user
            | Login
        li.sign-up
          a.btn-signup.red-btn(href='tour-grid-sidebar.html')
            span.ti-briefcase
            | Booking Toor
    // /.navbar-collapse

// ======================= End Navigation =====================
// ======================= Start Page Title =====================
.page-title.image-title(style='background-image:url(assets/img/about.jpg);')
  .container
    .page-title-wrap
      h2 Who We Are?
      p
        a.theme-cl(href='#') Home
        |  | 
        span About Us
// ======================= End Page Title =====================
// =========== Who We Are ===================
section
  .container
    .row
      .col-md-6.col-sm-12
        .ab-detail
          h2 Who We Are?
          p
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
          p
            | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
      .col-md-6.col-sm-12
        // row
        .row
          .col-md-6.col-sm-6
            .info-module
              i.ti-help-alt.cl-success
              h4.infobox_title 24x7 Support
          .col-md-6.col-sm-6
            .info-module
              i.ti-world.cl-success
              h4.infobox_title 150+ Countries
        // /row
        // row
        .row
          .col-md-6.col-sm-6
            .info-module
              i.ti-headphone-alt.cl-success
              h4.infobox_title 740+ Branches
          .col-md-6.col-sm-6
            .info-module
              i.ti-user.cl-success
              h4.infobox_title 10,000+ Member
        // /row
// =========== End Who We are ===================
// =========== Start Testimonial ===================
section.half-bg
  .container
    .row
      .col-md-12
        .heading.light
          span.cl-white Our Testimonials
          h1 What People Says
    .row
      .testimonial-carousel
        // Single Testimonial
        .testimonial-carousel-box
          .testimonial-caption
            i.ti-quote-right
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
            .testimonial-author
              img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
              h4 Adam Cristwal
        // Single Testimonial
        .testimonial-carousel-box
          .testimonial-caption
            i.ti-quote-right
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
            .testimonial-author
              img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
              h4 Adam Cristwal
        // Single Testimonial
        .testimonial-carousel-box
          .testimonial-caption
            i.ti-quote-right
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
            .testimonial-author
              img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
              h4 Adam Cristwal
        // Single Testimonial
        .testimonial-carousel-box
          .testimonial-caption
            i.ti-quote-right
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
            .testimonial-author
              img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
              h4 Adam Cristwal
// =========== End Testimonial ===================
// ================= Features =====================
section
  .container
    .row
      .col-md-12
        .heading
          span.theme-cl New Features
          h1 Latest Features
    .row
      .col-md-3.col-sm-6
        .info-features
          i.ti-headphone-alt.info-ibox.bg-success-light
          h4.infobox_title 24x7 Support
          .infobox_content Cryptronick caters to clients who require an intensive.
      .col-md-3.col-sm-6
        .info-features
          i.ti-rocket.info-ibox.bg-success-light
          h4.infobox_title Fast &amp; Protect Services
          .infobox_content Cryptronick caters to clients who require an intensive.
      .col-md-3.col-sm-6
        .info-features
          i.ti-dashboard.info-ibox.bg-success-light
          h4.infobox_title Creative Dashboard
          .infobox_content Cryptronick caters to clients who require an intensive.
      .col-md-3.col-sm-6
        .info-features
          i.ti-gift.info-ibox.bg-success-light
          h4.infobox_title Winner Announced
          .infobox_content Cryptronick caters to clients who require an intensive.
// ===================== End fetures =====================
// ============== Before Footer ======================
section.before-footer.bt-1.bb-1
  .container-fluid.padd-0.full-width
    .col-md-2.col-sm-2.br-1.mbb-1
      .data-flex
        h4 Contact Us!
    .col-md-3.col-sm-3.br-1.mbb-1
      .data-flex.text-center
        | 53 Boulevard Victor Hugo 44200 Nantes, France
    .col-md-3.col-sm-3.br-1.mbb-1
      .data-flex.text-center
        span.d-block.mrg-bot-0 06 52 52 20 30
        a.theme-cl(href='#')
          strong hello@gmail.com
    .col-md-4.col-sm-4.padd-0
      .data-flex.padd-0
        ul.social-share
          li
            a(href='#')
              i.fa.fa-facebook.theme-cl
          li
            a(href='#')
              i.fa.fa-google-plus.theme-cl
          li
            a(href='#')
              i.fa.fa-twitter.theme-cl
          li
            a(href='#')
              i.fa.fa-linkedin.theme-cl
// =================== Before Footer ======================
// ================= footer start =========================
footer.footer.dark-bg
  .container
    // Row Start
    .row
      .col-md-8.col-sm-8
        .row
          .col-md-4.col-sm-4
            h4 Featured Destinations
            ul
              li
                a(href='destination-grid.html') Destination Grid
              li
                a(href='destination-list.html') Destination List
              li
                a(href='destination-grid-sidebar.html') Destination Grid Sidebar
              li
                a(href='destination-list-sidebar.html') Destination List Sidebar
              li
                a(href='destination-detail.html') Destination Detail
              li
                a(href='restaurant-grid.html') Restaurant Grid
          .col-md-4.col-sm-4
            h4 Featured Tours
            ul
              li
                a(href='tour-grid.html') Tour Grid
              li
                a(href='tour-list.html') Tour List
              li
                a(href='tour-grid-sidebar.html') Tour Grid Sidebar
              li
                a(href='tour-list-sidebar.html') tour List Sidebar
              li
                a(href='tour-detail.html') Tour Detail
              li
                a(href='http://themezhub.com/') Restaurant Grid
          .col-md-4.col-sm-4
            h4 Featured Hotels
            ul
              li
                a(href='hotel-grid.html') Hotel Grid
              li
                a(href='hotel-list.html') Hotel List
              li
                a(href='hotel-grid-sidebar.html') Hotel Grid Sidebar
              li
                a(href='hotel-list-sidebar.html') Hotel List Sidebar
              li
                a(href='hotel-detail.html') Hotel Detail
              li
                a(href='restaurant-detail.html') Restaurant Detail
      .col-md-4.col-sm-4
        h4 Subscribe Now
        // Newsletter
        .input-group
          input.form-control(type='text' placeholder='Enter Email')
          span.input-group-btn
            button.btn.btn-default(type='button')
              i.fa.fa-location-arrow.font-20
        // Social Box
        .f-social-box
          ul
            li
              a(href='#')
                i.fa.fa-facebook.facebook-cl
            li
              a(href='#')
                i.fa.fa-google.google-plus-cl
            li
              a(href='#')
                i.fa.fa-twitter.twitter-cl
            li
              a(href='#')
                i.fa.fa-pinterest.pinterest-cl
            li
              a(href='#')
                i.fa.fa-instagram.instagram-cl
        // App Links
        .f-app-box
          ul
            li
              a(href='#')
                i.fa.fa-apple
                | App Store
            li
              a(href='#')
                i.fa.fa-android
                | Play Store
    // Row Start
    .row
      .col-md-12
        .copyright.text-center
          p
            a(target='_balnk' href='https://www.templatespoint.net') Templates Point
// Sign Up Window Code
#signin.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel1' aria-hidden='true')
  .modal-dialog
    #myModalLabel1.modal-content
      .modal-body
        .text-center
          img.img-responsive(src='assets/img/logo.png' alt='')
        // Nav tabs
        ul.nav.nav-tabs.nav-advance.theme-bg(role='tablist')
          li.nav-item.active
            a.nav-link(data-toggle='tab' href='#employer' role='tab')
              i.ti-user
              |  Employer
          li.nav-item
            a.nav-link(data-toggle='tab' href='#candidate' role='tab')
              i.ti-user
              |  Candidate
        // Nav tabs
        // Tab panels
        .tab-content
          // Employer Panel 1
          #employer.tab-pane.fade.in.show.active(role='tabpanel')
            form
              .form-group
                label User Name
                input.form-control(type='text' placeholder='User Name')
              .form-group
                label Password
                input.form-control(type='password' placeholder='*********')
              .form-group
                span.custom-checkbox
                  input#4(type='checkbox')
                  label(for='4')
                  | Remember me
                a.fl-right(href='#' title='Forget') Forgot Password?
              .form-group.text-center
                button.btn.theme-btn.full-width.btn-m(type='button') LogIn 
            .log-option
              span OR
            .row.mrg-bot-20
              .col-md-6
                a.fb-log-btn.log-btn(href='#' title='')
                  i.fa.fa-facebook
                  | Sign In With Facebook
              .col-md-6
                a.gplus-log-btn.log-btn(href='#' title='')
                  i.fa.fa-google-plus
                  | Sign In With Google+
          // /.Panel 1
          // Candidate Panel 2
          #candidate.tab-pane.fade(role='tabpanel')
            form
              .form-group
                label User Name
                input.form-control(type='text' placeholder='User Name')
              .form-group
                label Password
                input.form-control(type='password' placeholder='*********')
              .form-group
                span.custom-checkbox
                  input#4(type='checkbox')
                  label(for='4')
                  | Remember me
                a.fl-right(href='#' title='Forget') Forgot Password?
              .form-group.text-center
                button.btn.theme-btn.full-width.btn-m(type='button') LogIn 
            .log-option
              span OR
            .row.mrg-bot-20
              .col-md-6
                a.fb-log-btn.log-btn(href='#' title='')
                  i.fa.fa-facebook
                  | Sign In With Facebook
              .col-md-6
                a.gplus-log-btn.log-btn(href='#' title='')
                  i.fa.fa-google-plus
                  | Sign In With Google+
          // /.Panel 2
        // Tab panels
// End Sign Up Window
// Switcher
button.w3-button.w3-teal.w3-xlarge.w3-right(onclick='openRightMenu()')
  i.spin.theme-cl.fa.fa-cog(aria-hidden='true')
#rightMenu.w3-sidebar.w3-bar-block.w3-card-2.w3-animate-right(style='display:none;right:0;')
  button.w3-bar-item.w3-button.w3-large.theme-bg(onclick='closeRightMenu()') Close &times;
  ul#styleOptions(title='switch styling')
    li
      a.cl-box.cl-default(href='javascript: void(0)' data-theme='skins/default')
    li
      a.cl-box.cl-red(href='javascript: void(0)' data-theme='skins/red')
    li
      a.cl-box.cl-green(href='javascript: void(0)' data-theme='skins/green')
    li
      a.cl-box.cl-blue(href='javascript: void(0)' data-theme='skins/blue')
    li
      a.cl-box.cl-pink(href='javascript: void(0)' data-theme='skins/pink')
    li
      a.cl-box.cl-purple(href='javascript: void(0)' data-theme='skins/purple')
// /Switcher
// =================== START JAVASCRIPT ==================
script(src='assets/plugins/js/jquery.min.js')
script(src='assets/plugins/js/bootstrap.min.js')
script(src='assets/plugins/js/viewportchecker.js')
script(src='assets/plugins/js/bootsnav.js')
script(src='assets/plugins/js/slick.min.js')
script(src='assets/plugins/js/jquery.nice-select.min.js')
script(src='assets/plugins/js/jquery.fancybox.min.js')
script(src='assets/plugins/js/jquery.downCount.js')
script(src='assets/plugins/js/freshslider.1.0.0.js')
script(src='assets/plugins/js/moment.min.js')
script(src='assets/plugins/js/daterangepicker.js')
script(src='assets/plugins/js/wysihtml5-0.3.0.js')
script(src='assets/plugins/js/bootstrap-wysihtml5.js')
// Dashboard Js
script(src='assets/plugins/js/jquery.slimscroll.min.js')
script(src='assets/plugins/js/jquery.metisMenu.js')
script(src='assets/plugins/js/jquery.easing.min.js')
// Custom Js
script(src='assets/js/custom.js')
script(src='assets/js/jQuery.style.switcher.js')
script.
  function openRightMenu() {
  document.getElementById("rightMenu").style.display = "block";
  }
  function closeRightMenu() {
  document.getElementById("rightMenu").style.display = "none";
  }
script(type='text/javascript').
  $(document).ready(function() {
  $('#styleOptions').styleSwitcher();
  });
