extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/about.jpg);')
        .container
            .page-title-wrap
                h2 Who We Are?
                p
                    a.theme-cl(href='#') Home
                    |  | 
                    span About Us
    // ======================= End Page Title =====================
    // =========== Who We Are ===================
    section
        .container
            .row
                .col-md-6.col-sm-12
                    .ab-detail
                        h2 Who We Are?
                        p
                            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        p
                            | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                .col-md-6.col-sm-12
                    // row
                    .row
                        .col-md-6.col-sm-6
                            .info-module
                                i.ti-help-alt.cl-success
                                h4.infobox_title 24x7 Support
                        .col-md-6.col-sm-6
                            .info-module
                                i.ti-world.cl-success
                                h4.infobox_title 150+ Countries
                    // /row
                    // row
                    .row
                        .col-md-6.col-sm-6
                            .info-module
                                i.ti-headphone-alt.cl-success
                                h4.infobox_title 740+ Branches
                        .col-md-6.col-sm-6
                            .info-module
                                i.ti-user.cl-success
                                h4.infobox_title 10,000+ Member
                    // /row
    // =========== End Who We are ===================
    // =========== Start Testimonial ===================
    section.half-bg
        .container
            .row
                .col-md-12
                    .heading.light
                        span.cl-white Our Testimonials
                        h1 What People Says
            .row
                .testimonial-carousel
                    // Single Testimonial
                    .testimonial-carousel-box
                        .testimonial-caption
                            i.ti-quote-right
                            p
                                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            .testimonial-author
                                img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
                                h4 Adam Cristwal
                    // Single Testimonial
                    .testimonial-carousel-box
                        .testimonial-caption
                            i.ti-quote-right
                            p
                                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            .testimonial-author
                                img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
                                h4 Adam Cristwal
                    // Single Testimonial
                    .testimonial-carousel-box
                        .testimonial-caption
                            i.ti-quote-right
                            p
                                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            .testimonial-author
                                img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
                                h4 Adam Cristwal
                    // Single Testimonial
                    .testimonial-carousel-box
                        .testimonial-caption
                            i.ti-quote-right
                            p
                                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            .testimonial-author
                                img.img-responsive.img-circle(src='assets/img/avatar4.jpg' alt='')
                                h4 Adam Cristwal
    // =========== End Testimonial ===================
    // ================= Features =====================
    section
        .container
            .row
                .col-md-12
                    .heading
                        span.theme-cl New Features
                        h1 Latest Features
            .row
                .col-md-3.col-sm-6
                    .info-features
                        i.ti-headphone-alt.info-ibox.bg-success-light
                        h4.infobox_title 24x7 Support
                        .infobox_content Cryptronick caters to clients who require an intensive.
                .col-md-3.col-sm-6
                    .info-features
                        i.ti-rocket.info-ibox.bg-success-light
                        h4.infobox_title Fast &amp; Protect Services
                        .infobox_content Cryptronick caters to clients who require an intensive.
                .col-md-3.col-sm-6
                    .info-features
                        i.ti-dashboard.info-ibox.bg-success-light
                        h4.infobox_title Creative Dashboard
                        .infobox_content Cryptronick caters to clients who require an intensive.
                .col-md-3.col-sm-6
                    .info-features
                        i.ti-gift.info-ibox.bg-success-light
                        h4.infobox_title Winner Announced
                        .infobox_content Cryptronick caters to clients who require an intensive.
    // ===================== End fetures =====================
    // ============== Before Footer ======================
    block content_contact 
        include _contact

block content_footer 
    include _footer