extends base

block content 
    body.theme-bg.log-screen(style='background-image:url(/assets/img/banner-log.png)')
        section.log-wrapper
            .container
                .col-md-6.col-md-push-6
                    h3.log-title Corporate LogIn
                    form.form
                        .form-group
                            label(for='inputEmail') User Name
                            input#inputEmail.form-control(type='email' placeholder='User Name' required='')
                        .form-group
                            label(for='inputPassword') Password
                            input#inputPassword.form-control(type='password' placeholder='*******' required='')
                        .form-group
                            .row
                                .col-md-6.col-sm-6
                                    button.btn.btn-dark(type='submit') Login
                                .col-md-6.col-sm-6
                                    p
                                        | Forgot Password? 
                                        a(href='#') Click Here