extends base

mixin sortBy(gridRoute, listRoute)
    .tr-single-box.short-box
        .col-sm-3.hidden-xs.align-self-center
            h4 sort by
        .col-sm-9.text-right
            .btn-group.mr-lg-2
                button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | sort by
                .dropdown-menu.pull-right.animated.flipInX
                    a(href='#') Ascending
                    a(href='#') Descending
                    a(href='#') Date
            .btn-group
                a.btn.btn-default.tooltips(href=gridRoute, listRoute)
                    i.ti-flix.ti-layout-grid2
            .btn-group
                a.btn.btn-default.tooltips(href=listRoute)
                    i.ti-flix.ti-view-list-alt

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/tour.jpg);')
        .container
            .page-title-wrap
                h2 Tour Grid Sidebar
                p
                    a.theme-cl(href='/') Home
                    |  | 
                    span Tour Grid Sidebar

    section.gray-bg
        .container
            .row
                .col-md-4.col-sm-12
                    include _sidebar
                .col-md-8.col-sm-12
                    .row.mrg-0
                        +sortBy('/tours-grid-sidebar','/tours-list-sidebar')

                    .row
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                // Single Tour
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-1.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 25h
                                        h4.destination-place
                                            a(href='#') Istanbul, Turkey
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-1.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 25
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') Netherlands
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $187
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-2.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 2 days
                                        h4.destination-place
                                            a(href='#') Kuala Lumpur, Malaysia
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-2.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 26
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') Austrailia
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $130
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-3.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 21h
                                        h4.destination-place
                                            a(href='#') Singapore. platongkoh
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-3.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 17
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') United States
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $215
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-4.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 22h
                                        h4.destination-place
                                            a(href='#') New York, Sean Pavone
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-4.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 18
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') New York
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $240
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-5.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 17h
                                        h4.destination-place
                                            a(href='#') Dubai, United Arab Emirates
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-5.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 15
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') Saudi Arabia
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $117
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-6.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 1 day
                                        h4.destination-place
                                            a(href='#') Paris, France. neirfy
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-6.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 22
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') Singapore
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $310
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-2.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 70h
                                        h4.destination-place
                                            a(href='#') London, England. AndreaAstes
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-7.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 15
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') United Kingdom
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $217
                        // Single Tour
                        .col-md-6.col-sm-6
                            article.tour-box.style-1
                                .tour-box-image
                                    figure
                                        a(href='/tour-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/tour/tour-8.jpg' alt='')
                                            .list-overlay
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 12h
                                        h4.destination-place
                                            a(href='#') Grand Canyon National Park
                                        span.featured-tour
                                            i.fa.fa-star
                                        a.list-like.left(href='#')
                                            i.ti-heart
                                .entry-meta
                                    .meta-item.meta-author
                                        .coauthors
                                            span.vcard.author
                                                span.fn
                                                    a(href='#')
                                                        img.avatar.avatar-24(alt='' src='assets/img/user-1.jpg' height='24' width='24')
                                                        | Lisa Scholfield
                                    .meta-item.meta-comment.fl-right
                                        i.ti-comment-alt
                                        span 13
                                    .meta-item.meta-rating.fl-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                .inner-box
                                    .box-inner-ellipsis
                                        h4.entry-title
                                            a(href='#') India
                                        .price-box
                                            .tour-price.fl-right
                                                i.ti.ti-user
                                                span.theme-cl.f-bold $110
                    .row
                        ul.pagination
                            li.page-item
                                a.page-link(href='#' aria-label='Previous')
                                    span.ti-arrow-left
                                    span.sr-only Previous
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') 4
                            li.page-item
                                a.page-link(href='#') 5
                            li.page-item
                                a.page-link(href='#' aria-label='Next')
                                    span.ti-arrow-right
                                    span.sr-only Next
block content_footer 
    include _footer