doctype html 
html 
    head 
        include _head
    body
        block navigation_content
        include _auth_modal
        block content
            block content_contact
        block content_footer
        include _scripts