extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/banner.jpg);')
      .container
        .page-title-wrap
          h2 Add To cart
          | &#x9;&#x9;&#x9;&#x9;
          p
            a.theme-cl(href='#') Home
            |  | 
            span Add To cart
    // ======================= End Page Title =====================
    // ======================= Start Checkout =====================
    section.cart.gray-bg
      .container
        .row
          .col-md-8.col-sm-8
            .tg-cartproductdetail.table-responsive
              table.table(cellspacing='0')
                thead
                  tr
                    th.product-name Name
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th.product-quantity Quantity
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th.product-price Price
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th.product-remove &nbsp;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                tbody
                  tr.cart_item
                    td
                      .tg-tourname
                        figure
                          a(href='#')
                            img.img-responsive(src='assets/img/tt-1.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .tg-populartourcontent
                          .tg-populartourtitle
                            h3
                              a(href='#') DJI Phantom 3
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span
                            | 1 x 
                            span.Price-amount.amount
                              span.Price-currencySymbol $
                              | 499
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.product-quantity
                      .form-group
                        .quantity
                          input.form-control(type='number', value='1')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td
                      span.Price-amount.amount
                        span.Price-currencySymbol $
                        | 499
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.product-remove
                      a.remove(href='#')
                        i.icon-trash-can
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr.cart_item
                    td
                      .tg-tourname
                        figure
                          a(href='#')
                            img.img-responsive(src='assets/img/tt-2.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .tg-populartourcontent
                          .tg-populartourtitle
                            h3
                              a(href='#') DJI Phantom 3
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span
                            | 1 x 
                            span.Price-amount.amount
                              span.Price-currencySymbol $
                              | 499
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.product-quantity
                      .form-group
                        .quantity
                          input.form-control(type='number', value='1')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td
                      span.Price-amount.amount
                        span.Price-currencySymbol $
                        | 499
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.product-remove
                      a.remove(href='#')
                        i.icon-trash-can
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr.woocommerce-cart-form__cart-item.cart_item
                    td
                      .tg-tourname
                        figure
                          a(href='#')
                            img.img-responsive(src='assets/img/tt-3.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .tg-populartourcontent
                          .tg-populartourtitle
                            h3
                              a(href='#') Davidoff Cool Water
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          span
                            | 1 x 
                            span.Price-amount.amount
                              span.Price-currencySymbol $
                              | 1,300
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.product-quantity
                      .form-group
                        .quantity
                          input.form-control(type='number', value='1')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td
                      span.Price-amount.amount
                        span.Price-currencySymbol $
                        | 1,300
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    td.product-remove
                      a.remove(href='#', <i='')
              // Coupon Code
              .col-md-12
                .row
                  .col-sm-6
                    .input-group
                      input.form-control(type='text', placeholder='Search…')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.input-group-btn
                        button.btn.btn-default(type='button') Apply Coupon
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .col-sm-6
                    a.btn.btn-arrow.theme-btn(type='button', href='#') Update Cart
              // End Coupon Code
          // Sidebar
          .col-md-4.col-sm-4
            .tr-single-box
              .tr-single-header
                h4
                  | Total
                  span.fl-right $1170
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .tr-single-body
                .booking-price-detail.side-list.no-border
                  ul
                    li
                      | From
                      strong.pull-right 25 Jan 2019
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      | To
                      strong.pull-right 28 Jan 2019
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      | Adults
                      strong.pull-right 5
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      | Children
                      strong.pull-right 3
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      | Guide
                      strong.pull-right Richa Alitics
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      | Hotel
                      strong.pull-right Resort valley
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a.btn.btn-success.full-width(href='payment-methode.html') Proceed now
    block content_contact 
        include _contact


block content_footer 
    include _footer