extends base

block navigation_content 
    include _navigation
block content 
  body.coming-soon.theme-bg
    section.soon-wrapper
      .container
        .col-md-7.content
          .row.mrg-bot-15.text-center
            a(href='index-2.html')
              img.img-responsive(src='assets/img/favicon.png' alt='')
            h5.cl-yellow.font-16 Drop your eamil We will advice when we will be online!
          .row.coming-counter.mrg-bott-30
            .col-md-3.col-sm-3.hour-sec
              ul.countdown.purple
                li.day
                  span.days 00
                  p.day_ref.theme-cl days
            .col-md-3.col-sm-3.days-sec
              ul.countdown
                li.hour
                  span.hours 00
                  p.hours_ref.theme-cl days
            .col-md-3.col-sm-3.minut-sec
              ul.countdown.yellow
                li.minut
                  span.minutes 00
                  p.minutes_ref.theme-cl minutes
            .col-md-3.col-sm-3.minut-sec
              ul.countdown.yellow
                li.second
                  span.seconds 00
                  p.seconds_ref.theme-cl seconds
          .row.mrg-top-30
            .col-md-12
              h5.font-16.cl-white Subscribe to get notified!
              form.wow-form.mrg-top-10
                input(type='text' placeholder='Enter your Email Address..')
                button.btn.btn-wow.theme-btn(type='submit' name='submit' value='Search')  Find Tour 
          .row
            .col-md-12
              ul.coming-social
                li
                  a.theme-cl(href='#')
                    i.fa.fa-facebook
                li
                  a.theme-cl(href='#')
                    i.fa.fa-twitter
                li
                  a.theme-cl(href='#')
                    i.fa.fa-google-plus
                li
                  a.theme-cl(href='#')
                    i.fa.fa-instagram
 
//- block content_footer 
//-     include _footer