extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/banner.jpg);')
        .container
            .page-title-wrap
                h2 Say Hello
                p
                    a.theme-cl(href='/') Home
                    |  | 
                    span
    // ======================= End Page Title =====================
    // =========== Start All Hotel In Grid View ===================
    section.gray-bg
        .container
            .row
                .col-md-5.col-sm-5
                    .form-box
                        i.c-icon.ti-email.theme-cl
                        .c-detail
                            strong Email On:
                            p support@travelizm.com
                    .form-box
                        i.c-icon.ti-headphone-alt.theme-cl
                        .c-detail
                            strong Call Us:
                            p 170 125 457 8547
                    .form-box
                        i.c-icon.ti-map-alt.theme-cl
                        .c-detail
                            strong Location:
                            p
                                | #210, QCHR7, Near Mirkel Market
                                br
                                | New York
                .col-md-7.col-sm-7
                    .form-box
                        form.c-form
                            .row
                                .col-sm-6
                                    label
                                        | Name
                                        sup.cl-danger *
                                    input#name.form-control(type='text')
                                .col-sm-6
                                    label
                                        | Email
                                        sup.cl-danger *
                                    input#email.form-control(type='email')
                            .row
                                .col-sm-6
                                    label
                                        | Phone
                                        sup.cl-danger *
                                    input#phone.form-control(type='text')
                                .col-sm-6
                                    label Subject
                                    input#subject.form-control(type='text')
                            .row
                                .col-sm-12
                                    label Message
                                    textarea#message.form-control.height-150
                            .row
                                .col-sm-12
                                    button#submit_msg.btn.theme-btn.btn-arrow(type='button') Submit Request

                            h2#error.fs-title ALL FIELDS ARE REQUIRED

            //- block content_contact 
            //-     include _contact
//- block content_footer 
//-     include _footer