extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        #dashboard-menu.collapse.sidebar-collapse
                            .profile-wrapper
                                .profile-wrapper-thumb
                                    img.img-responsive.img-circle(src='assets/img/user-3.jpg' alt='')
                                    span.dashboard-user-status.bg-success
                                h4 Duke Daniel
                            ul#main-menu.nav
                                li.active
                                    a(href='dashboard.html')
                                        i.fa.fa-dashboard(aria-hidden='true')
                                        | Dashboard
                                li
                                    a(href='messages.html')
                                        i.ti-email(aria-hidden='true')
                                        | Messages
                                li
                                    a(href='javascript:void(0)')
                                        i.fa.fa-clone(aria-hidden='true')
                                        | Manage Listing 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='manage-hotels.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Hotels
                                        li
                                            a(href='manage-tours.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Tours
                                        li
                                            a(href='manage-destinations.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Destinations
                                        li
                                            a(href='manage-restaurants.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Restaurants
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-location-pin(aria-hidden='true')
                                        | Add Listings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='http://themezhub.com/')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Hotels
                                        li
                                            a(href='add-tours.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Tours
                                        li
                                            a(href='add-destinations.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Destinations
                                        li
                                            a(href='add-restaurants.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Restaurants
                                li
                                    a(href='invoice.html')
                                        i.fa-print(aria-hidden='true')
                                        | Invoice
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-calendar(aria-hidden='true')
                                        | My Booking 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='booking-1.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Booking 1
                                        li
                                            a(href='booking-2.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Booking 2
                                li
                                    a(href='javascript:void(0)')
                                        i.fa.fa-cog(aria-hidden='true')
                                        | Settings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='basic-settings.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Basic Settings
                                        li
                                            a(href='site-settings.html')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Site Settings
                                li
                                    a(href='my-profile.html')
                                        i.ti-user(aria-hidden='true')
                                        | My Profile
                                li
                                    a(href='add-payment-methode.html')
                                        i.ti-credit-card(aria-hidden='true')
                                        | Add Payment Methode
                                li.log-off
                                    a(href='login.html')
                                        i.fa.fa-power-off(aria-hidden='true')
                                        | Logout
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title Dashboard
                            .tr-single-body
                                // row
                                .row
                                    .col-md-3.col-sm-6
                                        .widget.simple-widget
                                            .rwidget-caption.info
                                                .row
                                                    .col-xs-4.padd-r-0
                                                        i.cl-info.icon.ti-user
                                                    .col-xs-8
                                                        .widget-detail
                                                            h3 372
                                                            span New Users
                                                    .col-xs-12
                                                        .widget-line
                                                            span.bg-info.widget-horigental-line(style='width:80%;')
                                    .col-md-3.col-sm-6
                                        .widget.simple-widget
                                            .widget-caption.danger
                                                .row
                                                    .col-xs-4.padd-r-0
                                                        i.cl-danger.icon.ti-shopping-cart-full
                                                    .col-xs-8
                                                        .widget-detail
                                                            h3 412
                                                            span Happy Customer
                                                    .col-xs-12
                                                        .widget-line
                                                            span.bg-danger.widget-horigental-line(style='width:50%;')
                                    .col-md-3.col-sm-6
                                        .widget.simple-widget
                                            .widget-caption.warning
                                                .row
                                                    .col-xs-4.padd-r-0
                                                        i.cl-success.icon.ti-medall
                                                    .col-xs-8
                                                        .widget-detail
                                                            h3 870
                                                            span World Award
                                                    .col-xs-12
                                                        .widget-line
                                                            span.bg-success.widget-horigental-line(style='width:60%;')
                                    .col-md-3.col-sm-6
                                        .widget.simple-widget
                                            .widget-caption.purple
                                                .row
                                                    .col-xs-4.padd-r-0
                                                        i.cl-purple.icon.ti-briefcase
                                                    .col-xs-8
                                                        .widget-detail
                                                            h3 4770
                                                            span Total Sales
                                                    .col-xs-12
                                                        .widget-line
                                                            span.bg-purple.widget-horigental-line(style='width:40%;')
                                // /row
                                // row
                                .row
                                    .col-md-8.col-sm-12
                                        .tr-single-box
                                            .tr-single-header
                                                h4.mb-0 Extra Area Chart
                                            .tr-single-body
                                                ul.list-inline.text-center.m-t-40
                                                    li
                                                        h5
                                                            i.fa.fa-circle.m-r-5.cl-purple
                                                            | Booking 220
                                                    li
                                                        h5
                                                            i.fa.fa-circle.m-r-5.cl-inverse
                                                            | Cancelation 20
                                                    li
                                                        h5
                                                            i.fa.fa-circle.m-r-5.cl-success
                                                            | Earning $220
                                                #extra-area-chart.chart(style='height: 350px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                    svg(height='350', version='1.1', width='942', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='overflow: hidden; position: relative; left: -0.484375px; top: -0.6875px;')
                                                        desc(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);') Created with Rapha&euml;l 2.2.0
                                                        defs(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        text(x='32.84765625', y='311', text-anchor='end', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 0
                                                        path(fill='none', stroke='#e0e0e0', d='M45.34765625,311H917', stroke-width='0.5', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        text(x='32.84765625', y='239.5', text-anchor='end', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 50
                                                        path(fill='none', stroke='#e0e0e0', d='M45.34765625,239.5H917', stroke-width='0.5', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        text(x='32.84765625', y='168', text-anchor='end', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 100
                                                        path(fill='none', stroke='#e0e0e0', d='M45.34765625,168H917', stroke-width='0.5', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        text(x='32.84765625', y='96.5', text-anchor='end', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 150
                                                        path(fill='none', stroke='#e0e0e0', d='M45.34765625,96.5H917', stroke-width='0.5', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        text(x='32.84765625', y='25', text-anchor='end', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 200
                                                        path(fill='none', stroke='#e0e0e0', d='M45.34765625,25H917', stroke-width='0.5', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        text(x='917', y='323.5', text-anchor='middle', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal', transform='matrix(1,0,0,1,0,7)')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 2016
                                                        text(x='771.7909148933136', y='323.5', text-anchor='middle', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal', transform='matrix(1,0,0,1,0,7)')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 2015
                                                        text(x='626.581829786627', y='323.5', text-anchor='middle', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal', transform='matrix(1,0,0,1,0,7)')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 2014
                                                        text(x='481.37274467994064', y='323.5', text-anchor='middle', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal', transform='matrix(1,0,0,1,0,7)')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 2013
                                                        text(x='335.7658264633729', y='323.5', text-anchor='middle', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal', transform='matrix(1,0,0,1,0,7)')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 2012
                                                        text(x='190.55674135668644', y='323.5', text-anchor='middle', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal', transform='matrix(1,0,0,1,0,7)')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 2011
                                                        text(x='45.34765625', y='323.5', text-anchor='middle', font-family='sans-serif', font-size='12px', stroke='none', fill='#888888', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;', font-weight='normal', transform='matrix(1,0,0,1,0,7)')
                                                        tspan(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);', dy='4') 2010
                                                        path(fill='#34d647', stroke='none', d='M45.34765625,311C81.6499275266716,293.125,154.25447008001484,243.075,190.55674135668644,239.5C226.85901263335805,235.925,299.4635551867013,284.18505471956223,335.7658264633729,282.4C372.1675560175148,280.61005471956224,444.9710151257987,226.98994528043775,481.37274467994064,225.2C517.6750159566122,223.41494528043776,590.2795585099555,261.84375,626.581829786627,268.1C662.8841010632987,274.35625000000005,735.488643616642,271.675,771.7909148933136,275.25C808.0931861699852,278.825,880.6977287233284,291.3375,917,296.7L917,311L45.34765625,311Z', fill-opacity='0.8', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.8;')
                                                        path(fill='none', stroke='#1dc130', d='M45.34765625,311C81.6499275266716,293.125,154.25447008001484,243.075,190.55674135668644,239.5C226.85901263335805,235.925,299.4635551867013,284.18505471956223,335.7658264633729,282.4C372.1675560175148,280.61005471956224,444.9710151257987,226.98994528043775,481.37274467994064,225.2C517.6750159566122,223.41494528043776,590.2795585099555,261.84375,626.581829786627,268.1C662.8841010632987,274.35625000000005,735.488643616642,271.675,771.7909148933136,275.25C808.0931861699852,278.825,880.6977287233284,291.3375,917,296.7', stroke-width='0', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='45.34765625', cy='311', r='0', fill='#1dc130', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='190.55674135668644', cy='239.5', r='0', fill='#1dc130', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='335.7658264633729', cy='282.4', r='0', fill='#1dc130', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='481.37274467994064', cy='225.2', r='0', fill='#1dc130', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='626.581829786627', cy='268.1', r='0', fill='#1dc130', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='771.7909148933136', cy='275.25', r='0', fill='#1dc130', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='917', cy='296.7', r='0', fill='#1dc130', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        path(fill='#3a4957', stroke='none', d='M45.34765625,311C81.6499275266716,305.6375,154.25447008001484,298.4875,190.55674135668644,289.55C226.85901263335805,280.6125,299.4635551867013,238.96448358413133,335.7658264633729,239.5C372.1675560175148,240.03698358413132,444.9710151257987,288.4701641586867,481.37274467994064,293.84C517.6750159566122,299.1951641586867,590.2795585099555,294.55499999999995,626.581829786627,282.4C662.8841010632987,270.245,735.488643616642,194.81250000000003,771.7909148933136,196.60000000000002C808.0931861699852,198.38750000000002,880.6977287233284,271.675,917,296.7L917,311L45.34765625,311Z', fill-opacity='0.8', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.8;')
                                                        path(fill='none', stroke='#2f3d4a', d='M45.34765625,311C81.6499275266716,305.6375,154.25447008001484,298.4875,190.55674135668644,289.55C226.85901263335805,280.6125,299.4635551867013,238.96448358413133,335.7658264633729,239.5C372.1675560175148,240.03698358413132,444.9710151257987,288.4701641586867,481.37274467994064,293.84C517.6750159566122,299.1951641586867,590.2795585099555,294.55499999999995,626.581829786627,282.4C662.8841010632987,270.245,735.488643616642,194.81250000000003,771.7909148933136,196.60000000000002C808.0931861699852,198.38750000000002,880.6977287233284,271.675,917,296.7', stroke-width='0', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='45.34765625', cy='311', r='0', fill='#2f3d4a', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='190.55674135668644', cy='289.55', r='0', fill='#2f3d4a', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='335.7658264633729', cy='239.5', r='0', fill='#2f3d4a', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='481.37274467994064', cy='293.84', r='0', fill='#2f3d4a', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='626.581829786627', cy='282.4', r='0', fill='#2f3d4a', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='771.7909148933136', cy='196.60000000000002', r='0', fill='#2f3d4a', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='917', cy='296.7', r='0', fill='#2f3d4a', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        path(fill='#39aff5', stroke='none', d='M45.34765625,311C81.6499275266716,309.2125,154.25447008001484,311,190.55674135668644,303.85C226.85901263335805,292.23125000000005,299.4635551867013,218.40701094391247,335.7658264633729,218.05C372.1675560175148,217.69201094391246,444.9710151257987,310.8346990424077,481.37274467994064,300.99C517.6750159566122,291.17219904240767,590.2795585099555,145.29875,626.581829786627,139.4C662.8841010632987,133.50125,735.488643616642,234.13750000000002,771.7909148933136,253.8C808.0931861699852,273.4625,880.6977287233284,285.975,917,296.7L917,311L45.34765625,311Z', fill-opacity='0.8', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.8;')
                                                        path(fill='none', stroke='#009efb', d='M45.34765625,311C81.6499275266716,309.2125,154.25447008001484,311,190.55674135668644,303.85C226.85901263335805,292.23125000000005,299.4635551867013,218.40701094391247,335.7658264633729,218.05C372.1675560175148,217.69201094391246,444.9710151257987,310.8346990424077,481.37274467994064,300.99C517.6750159566122,291.17219904240767,590.2795585099555,145.29875,626.581829786627,139.4C662.8841010632987,133.50125,735.488643616642,234.13750000000002,771.7909148933136,253.8C808.0931861699852,273.4625,880.6977287233284,285.975,917,296.7', stroke-width='0', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='45.34765625', cy='311', r='0', fill='#009efb', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='190.55674135668644', cy='303.85', r='0', fill='#009efb', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='335.7658264633729', cy='218.05', r='0', fill='#009efb', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='481.37274467994064', cy='300.99', r='0', fill='#009efb', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='626.581829786627', cy='139.4', r='0', fill='#009efb', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='771.7909148933136', cy='253.8', r='0', fill='#009efb', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                        circle(cx='917', cy='296.7', r='0', fill='#009efb', stroke='#ffffff', stroke-width='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                                                    .morris-hover.morris-default-style(style='left: 131.057px; top: 171px; display: none;')
                                                        .morris-hover-row-label 2011
                                                        .morris-hover-point(style='color: #1dc130')
                                                        | Booking 25:
                                                        | 50
                                                        .morris-hover-point(style='color: #2f3d4a')
                                                        | Cancellation 20:
                                                        | 15
                                                        .morris-hover-point(style='color: #009efb')
                                                        | Raening $220:
                                                        | 5
                                    .col-md-4.col-sm-12
                                        .tr-single-box
                                            .tr-single-header
                                                h5 Recen Booking
                                            .ground-list.ground-list-hove
                                                .ground.ground-single-list
                                                    a(href='#')
                                                        img.ground-avatar(src='assets/img/user-1.jpg' alt='...')
                                                        span.profile-status.bg-online.pull-right
                                                    .ground-content
                                                        h6
                                                            a(href='#') Maryam Amiri
                                                        small.text-fade Co-Founder
                                                    .ground-right
                                                        span.small Online
                                                .ground.ground-single-list
                                                    a(href='#')
                                                        img.ground-avatar(src='assets/img/user-2.jpg' alt='...')
                                                        span.profile-status.bg-offline.pull-right
                                                    .ground-content
                                                        h6
                                                            a(href='#') Maryam Amiri
                                                        small.text-fade Co-Founder
                                                    .ground-right
                                                        span.small 10 Min Ago
                                                .ground.ground-single-list
                                                    a(href='#')
                                                        img.ground-avatar(src='assets/img/user-3.jpg' alt='...')
                                                        span.profile-status.bg-working.pull-right
                                                    .ground-content
                                                        h6
                                                            a(href='#') Maryam Amiri
                                                        small.text-fade Co-Founder
                                                    .ground-right
                                                        span.small 20 Min Ago
                                                .ground.ground-single-list
                                                    a(href='#')
                                                        img.ground-avatar(src='assets/img/user-4.jpg' alt='...')
                                                        span.profile-status.bg-busy.pull-right
                                                    .ground-content
                                                        h6
                                                            a(href='#') Maryam Amiri
                                                        small.text-fade Co-Founder
                                                    .ground-right
                                                        span.small 18 Min Ago
                                                .ground.ground-single-list
                                                    a(href='#')
                                                        img.ground-avatar(src='assets/img/user-5.jpg' alt='...')
                                                        span.profile-status.bg-online.pull-right
                                                    .ground-content
                                                        h6
                                                            a(href='#') Maryam Amiri
                                                        small.text-fade Co-Founder
                                                    .ground-right
                                                        span.small Online
    block content_contact 
        include _contact                        
//- block content_footer 
//-     include _footer