extends base

mixin sortBy(gridRoute, listRoute)
    .tr-single-box.short-box
        .col-sm-3.hidden-xs.align-self-center
            h4 sort by
        .col-sm-9.text-right
            .btn-group.mr-lg-2
                button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | sort by
                .dropdown-menu.pull-right.animated.flipInX
                    a(href='#') Ascending
                    a(href='#') Descending
                    a(href='#') Date
            .btn-group
                a.btn.btn-default.tooltips(href=gridRoute, listRoute)
                    i.ti-flix.ti-layout-grid2
            .btn-group
                a.btn.btn-default.tooltips(href=listRoute)
                    i.ti-flix.ti-view-list-alt



block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/destination.jpg);')
        .container
            .page-title-wrap
                h2 Destination Grid
                p
                    a.theme-cl(href='/') Home
                    |  | 
                    span Destination Grid
    // ======================= End Page Title =====================
    // =========== Start All Destination In Grid View ===================
    section.gray-bg
        .container
            // Row
            .row.mrg-0
                +sortBy('destination-grid', 'destination-list')
            .row
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-1.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') Bali, Indonesia
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $2887
                                span.real-price.padd-l-10.font-bold $2782
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') New York, US
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-2.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') Grand Canyon National Park
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $2587
                                span.real-price.padd-l-10.font-bold $1282
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') Hong Kong
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-3.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') Prague, Czech Republic
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $2569
                                span.real-price.padd-l-10.font-bold $2547
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') Netherlands
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-4.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') Marrakech, Morroco
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $1856
                                span.real-price.padd-l-10.font-bold $1750
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') Saudi Arabia
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-5.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') New York City, New York
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $4525
                                span.real-price.padd-l-10.font-bold $4258
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') Switzerland
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-6.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') Halifax, Nova Scotia 
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $7802
                                span.real-price.padd-l-10.font-bold $7581
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') Singapore
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-7.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') San Jose, Costa Rica
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $2300
                                span.real-price.padd-l-10.font-bold $2250
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') New York, US
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-8.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') Casablanca, Morocco
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $2650
                                span.real-price.padd-l-10.font-bold $2563
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') Casablanca
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
                // Single Destination
                .col-md-4.col-sm-6
                    article.destination-box.style-1
                        .destination-box-image
                            figure
                                a(href='/destination-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/destination/des-9.jpg' alt='')
                                    .list-overlay
                                .discount-flick -12%
                                h4.destination-place
                                    a(href='/destination-detail') London, United Kingdom
                                a.list-like.left(href='#')
                                    i.ti-heart
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.text-through $5800
                                span.real-price.padd-l-10.font-bold $5682
                        .inner-box
                            .box-inner-ellipsis
                                h4.entry-location
                                    a(href='/destination-detail') United Kingdom
                                .price-box
                                    .destination-price.fl-right
                                        a(href='#')
                                            i.theme-cl.ti-arrow-right
            .row
                ul.pagination
                    li.page-item
                        a.page-link(href='#' aria-label='Previous')
                            span.ti-arrow-left
                            span.sr-only Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item.active
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#' aria-label='Next')
                            span.ti-arrow-right
                            span.sr-only Next
    block content_contact 
        include _contact
//- block content_footer 
//-     include _footer