extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/destination.jpg);')
        .container
            .page-title-wrap
                h2 Destination List
                p
                    a.theme-cl(href='/') Home
                    |  | 
                    span Destination List
    // ======================= End Page Title =====================
    // =========== Start All Destination In List View ===================
    section.gray-bg
        .container
            // Row
            .row.mrg-0
                .tr-single-box.short-box
                    .col-sm-3.hidden-xs.align-self-center
                        h4 Shorty By
                    .col-sm-9.text-right
                        .btn-group.mr-lg-2
                            button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Short By
                            .dropdown-menu.pull-right.animated.flipInX
                                a(href='#') Accending
                                a(href='#') Decending
                                a(href='#') By Date
                        .btn-group
                            a.btn.btn-default.tooltips(href='/destination-grid')
                                i.ti-flix.ti-layout-grid2
                        .btn-group
                            a.btn.btn-default.tooltips(href='/destination-list')
                                i.ti-flix.ti-view-list-alt
            // /Row
            .row
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-8.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 3 days
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -22%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') Bali, Indonesia
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $170
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                .vcard.author
                                                    .fn
                                                        h4
                                                            a(href='/destination-detail') Hong Kong
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 25
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-7.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 17h
                            .col-md-7.col-sm-7
                                .inner-box
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') Istanbul, Turkey
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $224
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                .vcard.author
                                                    .fn
                                                        h4
                                                            a(href='/destination-detail') United Kingdom
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 19
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-6.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 23h
                            .col-md-7.col-sm-7
                                .inner-box
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') Halifax, Nova Scotia
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $234
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                .vcard.author
                                                    .fn
                                                        h4
                                                            a(href='/destination-detail') Singapore
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 17
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-5.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 2 daysh
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -15%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') Casablanca, Morocco
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $204
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                span.vcard.author
                                                    span.fn
                                                        h4
                                                            a(href='/destination-detail') Switzerland
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 13
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-4.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 12h
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -12%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') Rovinj, Croatia 
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $134
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                .vcard.author
                                                    .fn
                                                        h4
                                                            a(href='/destination-detail') United States
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 20
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-3.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 10h
                            .col-md-7.col-sm-7
                                .inner-box
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') Marrakech, Morroco
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $154
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                .vcard.author
                                                    .fn
                                                        h4
                                                            a(href='/destination-detail') Saudi Arabia
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 13
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-2.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 2 days
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -13%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') Prague, Czech Republic
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $104
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                .vcard.author
                                                    .fn
                                                        h4
                                                            a(href='/destination-detail') Austrailia
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 18
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Single Destination List
                .col-lg-6.col-md-6
                    article.destination-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .destination-box-image
                                    a(href='/destination-detail')
                                        img.img-responsive.destination-box-img(src='assets/img/destination/des-1.jpg' alt='')
                                    a.list-like.left(href='#')
                                        i.ti-heart
                                    .destination-time
                                        i.ti.ti-car
                                        span 7h
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -10%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/destination-detail') London, United Kingdom
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $134
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                .vcard.author
                                                    .fn
                                                        h4
                                                            a(href='/destination-detail') Netherlands
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span 10
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
            .row
                ul.pagination
                    li.page-item
                        a.page-link(href='#' aria-label='Previous')
                            span.ti-arrow-left
                            span.sr-only Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item.active
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#' aria-label='Next')
                            span.ti-arrow-right
                            span.sr-only Next
        block content_contact 
        include _contact
//- block content_footer 
//-     include _footer