extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/destination.jpg);')
        .container
            .page-title-wrap
                h2 Destination list Sidebar
                p
                    a.theme-cl(href='#') Home
                    |  | 
                    span &gt;Destination list Sidebar
    // ======================= End Page Title =====================
    // =========== Start All Hotel In Grid View ===================
    section.gray-bg
        .container
            .row
                // Filter Sidebar
                .col-md-4.col-sm-12
                    .tr-single-box
                        .tr-single-header
                            h4 Filter
                            span.pull-right.clickables(data-toggle='collapse' data-target='#filter')
                                i.ti-align-left
                        #filter.collapse.in
                            // Input Box Search
                            .tr-single-body
                                .sidebar-input
                                    input.form-control(type='text' placeholder='Type Keyword..')
                                .sidebar-input
                                    input.form-control(type='text' placeholder='Destination..')
                                .sidebar-input
                                    input.form-control(type='text' placeholder='Location..')
                            // Range Slider
                            .tr-inner-single-box
                                .tr-single-header
                                    h4 Distance In Km.
                                .tr-single-body
                                    form(method='post')
                                        #price-range
                            // Distance
                            .tr-inner-single-box
                                .tr-single-header
                                    h4 By Distance
                                .tr-single-body
                                    ul.side-list-check
                                        li
                                            span.custom-checkbox
                                                input#144(type='checkbox')
                                                label(for='144')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Between 10Km To 100Km
                                            span.pull-right 102
                                        li
                                            span.custom-checkbox
                                                input#133(type='checkbox')
                                                label(for='133')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Between 100Km To 500Km
                                            span.pull-right 110
                                        li
                                            span.custom-checkbox
                                                input#122(type='checkbox')
                                                label(for='122')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Between 150Km To 700Km
                                            span.pull-right 56
                                        li
                                            span.custom-checkbox
                                                input#111(type='checkbox')
                                                label(for='111')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Between 700Km To 1000Km
                                            span.pull-right 18
                                        li
                                            span.custom-checkbox
                                                input#161(type='checkbox')
                                                label(for='161')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Between 10000Km To 50000Km
                                            span.pull-right 75
                            // Start Rating
                            .tr-inner-single-box
                                .tr-single-header
                                    h4 Start Rating
                                .tr-single-body
                                    ul.side-list-check
                                        li
                                            span.custom-checkbox
                                                input#11(type='checkbox')
                                                label(for='11')
                                            .search-rating
                                                i.fa.fa-star.enable
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                            span.pull-right 102
                                        li
                                            span.custom-checkbox
                                                input#12(type='checkbox')
                                                label(for='12')
                                            .search-rating
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                            span.pull-right 110
                                        li
                                            span.custom-checkbox
                                                input#13(type='checkbox')
                                                label(for='13')
                                            .search-rating
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star
                                                i.fa.fa-star
                                            span.pull-right 56
                                        li
                                            span.custom-checkbox
                                                input#14(type='checkbox')
                                                label(for='14')
                                            .search-rating
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star
                                            span.pull-right 18
                                        li
                                            span.custom-checkbox
                                                input#15(type='checkbox')
                                                label(for='15')
                                            .search-rating
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                                i.fa.fa-star.enable
                                            span.pull-right 75
                            // Tour Type
                            .tr-inner-single-box
                                .tr-single-header
                                    h4 Tour Type
                                .tr-single-body
                                    ul.side-list-check
                                        li
                                            span.custom-checkbox
                                                input#a(type='checkbox')
                                                label(for='a')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Food &amp; Cooking Tours
                                            span.pull-right 36
                                        li
                                            span.custom-checkbox
                                                input#b(type='checkbox')
                                                label(for='b')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sightseeing Tours
                                            span.pull-right 75
                                        li
                                            span.custom-checkbox
                                                input#c(type='checkbox')
                                                label(for='c')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Museums &amp; Art
                                            span.pull-right 69
                                        li
                                            span.custom-checkbox
                                                input#d(type='checkbox')
                                                label(for='d')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Extraordinary Tours
                                            span.pull-right 20
                                        li
                                            span.custom-checkbox
                                                input#e(type='checkbox')
                                                label(for='e')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;History &amp; Architecture
                                            span.pull-right 45
                                        li
                                            span.custom-checkbox
                                                input#f(type='checkbox')
                                                label(for='f')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Trips out of town
                                            span.pull-right 45
                            // Animinities
                            .tr-inner-single-box
                                .tr-single-header
                                    h4 Animinities
                                .tr-single-body
                                    ul.side-list-check
                                        li
                                            span.custom-checkbox
                                                input#a1(type='checkbox')
                                                label(for='a1')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;With guide
                                            span.pull-right 36
                                        li
                                            span.custom-checkbox
                                                input#b2(type='checkbox')
                                                label(for='b2')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Breakfast
                                            span.pull-right 75
                                        li
                                            span.custom-checkbox
                                                input#c3(type='checkbox')
                                                label(for='c3')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Musician
                                            span.pull-right 69
                                        li
                                            span.custom-checkbox
                                                input#d4(type='checkbox')
                                                label(for='d4')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Hot Water
                                            span.pull-right 20
                                        li
                                            span.custom-checkbox
                                                input#e5(type='checkbox')
                                                label(for='e5')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;High Difinition TV
                                            span.pull-right 45
                // All Item
                .col-md-8.col-sm-12
                    // Row
                    .row.mrg-0
                        .tr-single-box.short-box
                            .col-sm-3.hidden-xs.align-self-center
                                h4 Shorty By
                            .col-sm-9.text-right
                                .btn-group.mr-lg-2
                                    button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                        | Short By
                                    .dropdown-menu.pull-right.animated.flipInX
                                        a(href='#') Accending
                                        a(href='#') Decending
                                        a(href='#') By Date
                                .btn-group
                                    a.btn.btn-default.tooltips(href='destination-grid-sidebar.html')
                                        i.ti-flix.ti-layout-grid2
                                .btn-group
                                    a.btn.btn-default.tooltips(href='destination-list-sidebar.html')
                                        i.ti-flix.ti-view-list-alt
                    // /Row
                    // Row
                    .row
                        // Single Destination List
                        .col-md-12.col-sm-12
                            article.destination-box.list-style
                                .row
                                    .col-md-5.col-sm-5
                                        .destination-box-image
                                            a(href='destination-detail.html')
                                                img.img-responsive.destination-box-img(src='assets/img/destination/des-8.jpg' alt='')
                                            a.list-like.left(href='#')
                                                i.ti-heart
                                            .destination-time
                                                i.ti.ti-car
                                                span 3 days
                                    .col-md-7.col-sm-7
                                        .inner-box
                                            .discount-flick -22%
                                            .box-inner-ellipsis
                                                div(style='margin: 0px; padding: 0px; border: 0px;')
                                                    h3.entry-title
                                                        a(href='destination-detail.html') Bali, Indonesia
                                                    .entry-content
                                                        p
                                                            | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                        span.price
                                                            | From 
                                                            strong.theme-cl $170
                                                            |  /per person
                                            .entry-meta
                                                .meta-item.meta-author
                                                    .coauthors
                                                        .vcard.author
                                                            .fn
                                                                h4
                                                                    a(href='destination-detail.html') Hong Kong
                                                .meta-item.meta-comment.fl-right
                                                    i.ti-comment-alt
                                                    span 25
                                                .meta-item.meta-rating.fl-right
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                        // Single Destination List
                        .col-md-12.col-sm-12
                            article.destination-box.list-style
                                .row
                                    .col-md-5.col-sm-5
                                        .destination-box-image
                                            a(href='destination-detail.html')
                                                img.img-responsive.destination-box-img(src='assets/img/destination/des-7.jpg' alt='')
                                            a.list-like.left(href='#')
                                                i.ti-heart
                                            .destination-time
                                                i.ti.ti-car
                                                span 17h
                                    .col-md-7.col-sm-7
                                        .inner-box
                                            .box-inner-ellipsis
                                                div(style='margin: 0px; padding: 0px; border: 0px;')
                                                    h3.entry-title
                                                        a(href='destination-detail.html') Istanbul, Turkey
                                                    .entry-content
                                                        p
                                                            | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                        span.price
                                                            | From 
                                                            strong.theme-cl $224
                                                            |  /per person
                                            .entry-meta
                                                .meta-item.meta-author
                                                    .coauthors
                                                        .vcard.author
                                                            .fn
                                                                h4
                                                                    a(href='destination-detail.html') United Kingdom
                                                .meta-item.meta-comment.fl-right
                                                    i.ti-comment-alt
                                                    span 19
                                                .meta-item.meta-rating.fl-right
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                        // Single Destination List
                        .col-md-12.col-sm-12
                            article.destination-box.list-style
                                .row
                                    .col-md-5.col-sm-5
                                        .destination-box-image
                                            a(href='destination-detail.html')
                                                img.img-responsive.destination-box-img(src='assets/img/destination/des-6.jpg' alt='')
                                            a.list-like.left(href='#')
                                                i.ti-heart
                                            .destination-time
                                                i.ti.ti-car
                                                span 23h
                                    .col-md-7.col-sm-7
                                        .inner-box
                                            .box-inner-ellipsis
                                                div(style='margin: 0px; padding: 0px; border: 0px;')
                                                    h3.entry-title
                                                        a(href='destination-detail.html') Halifax, Nova Scotia
                                                    .entry-content
                                                        p
                                                            | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                        span.price
                                                            | From 
                                                            strong.theme-cl $234
                                                            |  /per person
                                            .entry-meta
                                                .meta-item.meta-author
                                                    .coauthors
                                                        .vcard.author
                                                            .fn
                                                                h4
                                                                    a(href='destination-detail.html') Singapore
                                                .meta-item.meta-comment.fl-right
                                                    i.ti-comment-alt
                                                    span 17
                                                .meta-item.meta-rating.fl-right
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                        // Single Destination List
                        .col-md-12.col-sm-12
                            article.destination-box.list-style
                                .row
                                    .col-md-5.col-sm-5
                                        .destination-box-image
                                            a(href='destination-detail.html')
                                                img.img-responsive.destination-box-img(src='assets/img/destination/des-5.jpg' alt='')
                                            a.list-like.left(href='#')
                                                i.ti-heart
                                            .destination-time
                                                i.ti.ti-car
                                                span 2 daysh
                                    .col-md-7.col-sm-7
                                        .inner-box
                                            .discount-flick -15%
                                            .box-inner-ellipsis
                                                div(style='margin: 0px; padding: 0px; border: 0px;')
                                                    h3.entry-title
                                                        a(href='destination-detail.html') Casablanca, Morocco
                                                    .entry-content
                                                        p
                                                            | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                        span.price
                                                            | From 
                                                            strong.theme-cl $204
                                                            |  /per person
                                            .entry-meta
                                                .meta-item.meta-author
                                                    .coauthors
                                                        span.vcard.author
                                                            span.fn
                                                                h4
                                                                    a(href='destination-detail.html') Switzerland
                                                .meta-item.meta-comment.fl-right
                                                    i.ti-comment-alt
                                                    span 13
                                                .meta-item.meta-rating.fl-right
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                        // Single Destination List
                        .col-md-12.col-sm-12
                            article.destination-box.list-style
                                .row
                                    .col-md-5.col-sm-5
                                        .destination-box-image
                                            a(href='destination-detail.html')
                                                img.img-responsive.destination-box-img(src='assets/img/destination/des-4.jpg' alt='')
                                            a.list-like.left(href='#')
                                                i.ti-heart
                                            .destination-time
                                                i.ti.ti-car
                                                span 12h
                                    .col-md-7.col-sm-7
                                        .inner-box
                                            .discount-flick -12%
                                            .box-inner-ellipsis
                                                div(style='margin: 0px; padding: 0px; border: 0px;')
                                                    h3.entry-title
                                                        a(href='destination-detail.html') Rovinj, Croatia 
                                                    .entry-content
                                                        p
                                                            | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                        span.price
                                                            | From 
                                                            strong.theme-cl $134
                                                            |  /per person
                                            .entry-meta
                                                .meta-item.meta-author
                                                    .coauthors
                                                        .vcard.author
                                                            .fn
                                                                h4
                                                                    a(href='destination-detail.html') United States
                                                .meta-item.meta-comment.fl-right
                                                    i.ti-comment-alt
                                                    span 20
                                                .meta-item.meta-rating.fl-right
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                        // Single Destination List
                        .col-md-12.col-sm-12
                            article.destination-box.list-style
                                .row
                                    .col-md-5.col-sm-5
                                        .destination-box-image
                                            a(href='destination-detail.html')
                                                img.img-responsive.destination-box-img(src='assets/img/destination/des-3.jpg' alt='')
                                            a.list-like.left(href='#')
                                                i.ti-heart
                                            .destination-time
                                                i.ti.ti-car
                                                span 10h
                                    .col-md-7.col-sm-7
                                        .inner-box
                                            .box-inner-ellipsis
                                                div(style='margin: 0px; padding: 0px; border: 0px;')
                                                    h3.entry-title
                                                        a(href='destination-detail.html') Marrakech, Morroco
                                                    .entry-content
                                                        p
                                                            | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                        span.price
                                                            | From 
                                                            strong.theme-cl $154
                                                            |  /per person
                                            .entry-meta
                                                .meta-item.meta-author
                                                    .coauthors
                                                        .vcard.author
                                                            .fn
                                                                h4
                                                                    a(href='destination-detail.html') Saudi Arabia
                                                .meta-item.meta-comment.fl-right
                                                    i.ti-comment-alt
                                                    span 13
                                                .meta-item.meta-rating.fl-right
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                        // Single Destination List
                        .col-md-12.col-sm-12
                            article.destination-box.list-style
                                .row
                                    .col-md-5.col-sm-5
                                        .destination-box-image
                                            a(href='destination-detail.html')
                                                img.img-responsive.destination-box-img(src='assets/img/destination/des-2.jpg' alt='')
                                            a.list-like.left(href='#')
                                                i.ti-heart
                                            .destination-time
                                                i.ti.ti-car
                                                span 2 days
                                    .col-md-7.col-sm-7
                                        .inner-box
                                            .discount-flick -13%
                                            .box-inner-ellipsis
                                                div(style='margin: 0px; padding: 0px; border: 0px;')
                                                    h3.entry-title
                                                        a(href='destination-detail.html') Prague, Czech Republic
                                                    .entry-content
                                                        p
                                                            | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                        span.price
                                                            | From 
                                                            strong.theme-cl $104
                                                            |  /per person
                                            .entry-meta
                                                .meta-item.meta-author
                                                    .coauthors
                                                        .vcard.author
                                                            .fn
                                                                h4
                                                                    a(href='destination-detail.html') Austrailia
                                                .meta-item.meta-comment.fl-right
                                                    i.ti-comment-alt
                                                    span 18
                                                .meta-item.meta-rating.fl-right
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                    // /Row
                    .row
                        ul.pagination
                            li.page-item
                                a.page-link(href='#' aria-label='Previous')
                                    span.ti-arrow-left
                                    span.sr-only Previous
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item.active
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') 4
                            li.page-item
                                a.page-link(href='#') 5
                            li.page-item
                                a.page-link(href='#' aria-label='Next')
                                    span.ti-arrow-right
                                    span.sr-only Next
            block content_contact 
            include _contact
//- block content_footer 
//-     include _footer