extends base

block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                    include _dashboard_sidebar
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title edit this hotel listing
                            .tr-single-body
                                form#msform
                                        .text-center
                                            h2.fs-title Basic Information
                                        .row
                                            .col-xs-6
                                                label hotel Name
                                                input#hotel_name.form-control(type='text'  placeholder='Galaxy cruiser hotel')

                                            .col-xs-6
                                                label Rating
                                                .sl-box
                                                    select#hotel_rating.form-control.wide
                                                        option Hotel rating
                                                        option Normal
                                                        option 3 Start
                                                        option 4 Start
                                                        option 5 Start
                                                        option 7 Startg
                                            .col-xs-6
                                                label Charge/Night
                                                input#hotel_price.form-control(type='text' placeholder='$220')
                                            .col-xs-6
                                                label Phone
                                                input#hotel_phone.form-control(type='text' placeholder='+91 254 875 8457')
                                            .col-xs-6
                                                label Landline
                                                input#hotel_ll.form-control(type='text' placeholder='172 025 458')
                                            .col-xs-6
                                                label Email
                                                input#hotel_email.form-control(type='text' placeholder='yourht@gmail.com')
                                            .col-xs-6
                                                label Fax
                                                input#hotel_fax.form-control(type='text' placeholder='fax')
                                            .col-xs-6
                                                label Address
                                                input#hotel_address.form-control(type='text' placeholder='#548, Near Big Market')
                                            .col-xs-6
                                                label City
                                                input#hotel_city.form-control(type='text' placeholder='city')
                                            .col-xs-6
                                                label State
                                                input#hotel_state.form-control(type='text' placeholder='state')
                                            .col-xs-6
                                                label Country
                                                input#hotel_country.form-control(type='text' placeholder='country')
                                            .col-xs-6
                                                label Owner Name
                                                input#hotel_owner.form-control(type='text' placeholder='Daniel Duke')
                                            .col-xs-6
                                                label Owner Contact
                                                input#hotel_contact.form-control(type='text' placeholder='987 584 5847')
                                            .col-xs-6
                                                label hotel banner Image
                                                .cf-input
                                                    label.custom-file
                                                        input#hotel_featured-image.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload hotel gallery image 1
                                                .cf-input
                                                    label.custom-file
                                                        input#hotel_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload hotel gallery image 2
                                                .cf-input
                                                    label.custom-file
                                                        input#hotel_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload hotel gallery image 3
                                                .cf-input
                                                    label.custom-file
                                                        input#hotel_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload hotel gallery image 4
                                                .cf-input
                                                    label.custom-file
                                                        input#hotel_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-12
                                                label hotel summary
                                                textarea#hl_summary.form-control.height-120( placeholder='simple one liner description')
                                            .col-xs-12
                                                label hotel description
                                                textarea#hl_description.form-control.height-120( placeholder='long description about hotel')
                                                h2#error.fs-title ALL FIELDS ARE REQUIRED

                                        h2.fs-title Available Amenities
                                        .row
                                            .col-md-12
                                                ul.add-amenities
                                                    each amenity, key in amenities 
                                                        
                                                        li
                                                            span.custom-checkbox
                                                                input(type='checkbox' id=`${key+1}` checked= payload.amenities.includes(amenity.toLowerCase())? true: false )
                                                                label(for=`${key+1}`)= amenity

                                        input.next.action-button(type='button' name='update' value='update' id="hotel_update")   
                                        input.next.action-button(type='button' name='delete' value='delete' id="hotel_delete")
      
    block content_contact 
        include _contact
    
    script(src='/assets/js/hotelEdit.js')
