extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                    include _dashboard_sidebar
                    include _info_confirm_modal
                    include _resource_delete_modal
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title edit this restaurant listing
                            .tr-single-body
                                form#msform
                                    fieldset
                                        .row
                                            .col-xs-6
                                                label restaurant Name
                                                input#restaurant_name.form-control(type='text' value='Green Valley')
                                            .col-xs-6
                                                label Upload Logo
                                                .cf-input
                                                    label.custom-file
                                                        input#restaurant_logo.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload menu
                                                .cf-input
                                                    label.custom-file
                                                        input#restaurant_menu.custom-file-input(type='file')
                                                        span.custom-file-control                                                        
                                            .col-xs-6
                                                label average price/person ($)
                                                input#restaurant_price.form-control(type='text' value='220')
                                            .col-xs-6
                                                label Phone
                                                input#restaurant_phone.form-control(type='text' value='912548758457')
                                            .col-xs-6
                                                label Landline
                                                input#restaurant_ll.form-control(type='text' value='17202558')
                                            .col-xs-6
                                                label Email
                                                input#restaurant_email.form-control(type='text' value='rest@gymail.com')
                                            .col-xs-6
                                                label Fax
                                                input#restaurant_fax.form-control(type='text' value='9561567516861')
                                            .col-xs-6
                                                label Address
                                                input#restaurant_address.form-control(type='text' value='#548, Near Big Market')
                                            .col-xs-6
                                                label City
                                                input#restaurant_city.form-control(type='text' value='harare')
                                            .col-xs-6
                                                label State
                                                input#restaurant_state.form-control(type='text' value='virginia')
                                            .col-xs-6
                                                label Country
                                                input#restaurant_country.form-control(type='text' value='sweden')
                                            .col-xs-6
                                                label Owner Name
                                                input#restaurant_owner.form-control(type='text' value='Daniel Duke')
                                            .col-xs-6
                                                label Owner Contact
                                                input#restaurant_contact.form-control(type='text' value='987 584 5847')
                                            .col-xs-6
                                                label Featured Image
                                                .cf-input
                                                    label.custom-file
                                                        input#featured-image.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload restaurant gallery image 1
                                                .cf-input
                                                    label.custom-file
                                                        input#restaurant_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload restaurant gallery image 2
                                                .cf-input
                                                    label.custom-file
                                                        input#restaurant_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload restaurant gallery image 3
                                                .cf-input
                                                    label.custom-file
                                                        input#restaurant_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-6
                                                label Upload restaurant gallery image 4
                                                .cf-input
                                                    label.custom-file
                                                        input#restaurant_gallery.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-xs-12
                                                label restaurant summary
                                                textarea#rt_summary.form-control.height-120( placeholder='simple one liner description') Commodo odio aenean sed adipiscing diam donec adipiscing. Nisl purus in mollis nunc sed id semper risus
                                            .col-xs-12
                                                label restaurant description
                                                textarea#rt_description.form-control.height-120( placeholder='long description about restaurant') Mauris a diam maecenas sed enim. Consectetur a erat nam at lectus. Eget mi proin sed libero enim sed faucibus turpis. Nulla malesuada pellentesque elit eget
                                                h2#error.fs-title ALL FIELDS ARE REQUIRED

                                        h2.fs-title Available Amenities
                                        .row
                                            .col-md-12
                                                ul.add-amenities
                                                    each amenity, key in amenities 
                                                        
                                                        li
                                                            span.custom-checkbox
                                                                input(type='checkbox' id=`${key+1}` checked= payload.amenities.includes(amenity.toLowerCase())? true: false )
                                                                label(for=`${key+1}`)= amenity

                                       input.next.action-button(type='button' name='update' value='update' id="restaurant_update")
                                        input.next.action-button(type='button' name='delete' value='delete' id="restaurant_delete")

  
    block content_contact 
        include _contact
    
    script(src='/assets/js/restEdit.js')
