extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/banner.jpg);')
        .container
            .page-title-wrap
                h2 FAQs
                p
                    a.theme-cl(href='#') Home
                    |  | 
                    span FAQs
    // ======================= End Page Title =====================
    // =========== Start All Hotel In Grid View ===================
    section.gray-bg
        .container
            .row
                .simple-tab-style
                    // Nav tabs
                    ul.nav.nav-tabs(role='tablist')
                        li.active(role='presentation')
                            a(href='#User' aria-controls='home' role='tab' data-toggle='tab')
                                i.ti-user
                                | User
                        li(role='presentation')
                            a(href='#Author' aria-controls='author' role='tab' data-toggle='tab')
                                i.ti-star
                                | Author
                        li(role='presentation')
                            a(href='#Employee' aria-controls='employee' role='tab' data-toggle='tab')
                                i.ti-user
                                | Employee
                        li(role='presentation')
                            a(href='#Support' aria-controls='support' role='tab' data-toggle='tab')
                                i.ti-help
                                | Support
                        li(role='presentation')
                            a(href='#Suggestion' aria-controls='Suggestion' role='tab' data-toggle='tab')
                                i.ti-face-sad
                                | Suggestion
                    // Tab panes
                    .tab-content
                        // user
                        #User.tab-pane.fade.in.active(role='tabpanel')
                            .simple-accordion
                                #accordion.panel-group(role='tablist' aria-multiselectable='true')
                                    .panel.panel-default
                                        #title1.panel-heading(role='tab')
                                            h4.panel-title
                                                a(role='button' data-toggle='collapse' data-parent='#accordion' href='#col1' aria-expanded='true' aria-controls='col1')
                                                    | Why Travelizm Services?
                                        #col1.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='title1')
                                            .panel-body
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                    .panel.panel-default
                                        #title2.panel-heading(role='tab')
                                            h4.panel-title
                                                a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#col2' aria-expanded='false' aria-controls='col2')
                                                    | Benifits of Travelizm Services
                                        #col2.panel-collapse.collapse(role='tabpanel' aria-labelledby='title2')
                                            .panel-body
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                    .panel.panel-default
                                        #title3.panel-heading(role='tab')
                                            h4.panel-title
                                                a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#col3' aria-expanded='false' aria-controls='col3')
                                                    | What is Travelizm?
                                        #col3.panel-collapse.collapse(role='tabpanel' aria-labelledby='title3')
                                            .panel-body
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                    .panel.panel-default
                                        #title4.panel-heading(role='tab')
                                            h4.panel-title
                                                a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#col4' aria-expanded='false' aria-controls='col4')
                                                    | What People Syaing About travelizm
                                        #col4.panel-collapse.collapse(role='tabpanel' aria-labelledby='title4')
                                            .panel-body
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                        // Author
                        #Author.tab-pane.fade(role='tabpanel')
                            #accordion1.panel-group(role='tablist' aria-multiselectable='true')
                                .panel.panel-default
                                    #title21.panel-heading(role='tab')
                                        h4.panel-title
                                            a(role='button' data-toggle='collapse' data-parent='#accordion1' href='#col21' aria-expanded='true' aria-controls='col21')
                                                | Why Travelizm Services?
                                    #col21.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='title21')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title22.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion1' href='#col22' aria-expanded='false' aria-controls='col22')
                                                | Benifits of Travelizm Services
                                    #col22.panel-collapse.collapse(role='tabpanel' aria-labelledby='title22')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title23.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion1' href='#col23' aria-expanded='false' aria-controls='col23')
                                                | What is Travelizm?
                                    #col23.panel-collapse.collapse(role='tabpanel' aria-labelledby='title23')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title24.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion1' href='#col24' aria-expanded='false' aria-controls='col24')
                                                | What People Syaing About travelizm
                                    #col24.panel-collapse.collapse(role='tabpanel' aria-labelledby='title24')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                        // /Author
                        // Employee
                        #Employee.tab-pane.fade(role='tabpanel')
                            #accordion2.panel-group(role='tablist' aria-multiselectable='true')
                                .panel.panel-default
                                    #title31.panel-heading(role='tab')
                                        h4.panel-title
                                            a(role='button' data-toggle='collapse' data-parent='#accordion2' href='#col31' aria-expanded='true' aria-controls='col31')
                                                | Why Travelizm Services?
                                    #col31.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='title31')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title32.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#col32' aria-expanded='false' aria-controls='col32')
                                                | Benifits of Travelizm Services
                                    #col32.panel-collapse.collapse(role='tabpanel' aria-labelledby='title32')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title33.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#col33' aria-expanded='false' aria-controls='col33')
                                                | What is Travelizm?
                                    #col33.panel-collapse.collapse(role='tabpanel' aria-labelledby='title33')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title34.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#col34' aria-expanded='false' aria-controls='col34')
                                                | What People Syaing About travelizm
                                    #col34.panel-collapse.collapse(role='tabpanel' aria-labelledby='title34')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                        // /Employee
                        // Support
                        #Support.tab-pane.fade(role='tabpanel')
                            #accordion3.panel-group(role='tablist' aria-multiselectable='true')
                                .panel.panel-default
                                    #title41.panel-heading(role='tab')
                                        h4.panel-title
                                            a(role='button' data-toggle='collapse' data-parent='#accordion3' href='#col41' aria-expanded='true' aria-controls='col41')
                                                | Why Travelizm Services?
                                    #col41.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='title41')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title42.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#col42' aria-expanded='false' aria-controls='col42')
                                                | Benifits of Travelizm Services
                                    #col42.panel-collapse.collapse(role='tabpanel' aria-labelledby='title42')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title43.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#col43' aria-expanded='false' aria-controls='col43')
                                                | What is Travelizm?
                                    #col43.panel-collapse.collapse(role='tabpanel' aria-labelledby='title43')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title44.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#col44' aria-expanded='false' aria-controls='col44')
                                                | What People Syaing About travelizm
                                    #col44.panel-collapse.collapse(role='tabpanel' aria-labelledby='title44')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                        // /Support
                        // Suggestion
                        #Suggestion.tab-pane.fade(role='tabpanel')
                            #accordion4.panel-group(role='tablist' aria-multiselectable='true')
                                .panel.panel-default
                                    #title51.panel-heading(role='tab')
                                        h4.panel-title
                                            a(role='button' data-toggle='collapse' data-parent='#accordion4' href='#col51' aria-expanded='true' aria-controls='col51')
                                                | Why Travelizm Services?
                                    #col51.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='title1')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title52.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion4' href='#col52' aria-expanded='false' aria-controls='col52')
                                                | Benifits of Travelizm Services
                                    #col52.panel-collapse.collapse(role='tabpanel' aria-labelledby='title52')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title53.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion4' href='#col53' aria-expanded='false' aria-controls='col53')
                                                | What is Travelizm?
                                    #col53.panel-collapse.collapse(role='tabpanel' aria-labelledby='title53')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                .panel.panel-default
                                    #title54.panel-heading(role='tab')
                                        h4.panel-title
                                            a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion4' href='#col54' aria-expanded='false' aria-controls='col54')
                                                | What People Syaing About travelizm
                                    #col54.panel-collapse.collapse(role='tabpanel' aria-labelledby='title54')
                                        .panel-body
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.
    block content_contact 
        include _contact


//- block content_footer 
//-     include _footer