extends base

block navigation_content 
    include _navigation
block content 
    section.main-banner.scroll-con-sec.hero-section(data-scrollax-parent='true')
      .slideshow-container
        // slideshow-item
        .slideshow-item
          .bg(data-bg='assets/img/banner-2.jpg')
        // slideshow-item end
        // slideshow-item
        .slideshow-item
          .bg(data-bg='assets/img/banner-3.jpg')
        // slideshow-item end
        // slideshow-item
        .slideshow-item
          .bg(data-bg='assets/img/banner-4.jpg')
        // slideshow-item end
      | &#x9;&#x9;&#x9;
      .overlay
      | &#x9;&#x9;&#x9;
      .hero-section-wrap.fl-wrap
        .container
          .intro-item.fl-wrap
            .caption.text-center.cl-white
              h2 Discover Your Next Adventure
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p Expolore top rated tours, hotels and restaurants around the world
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            form
              fieldset.home-form-1
                .col-md-3.col-sm-3.padd-0
                  input.form-control.br-1(type='text', placeholder='City, Country')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-3.padd-0
                  input.form-control.br-1(type='text', name='book-date', value='When...')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-2.col-sm-2.padd-0
                  .sl-box
                    select.wide.form-control.br-1
                      option(data-display='Adults') Adults
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='1') 01
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='2') 02
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='3') 03
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='4') 04
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-2.col-sm-2.padd-0
                  .sl-box
                    select.wide.form-control.br-1
                      option(data-display='Children') Children
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='1') 01
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='2') 02
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='3') 03
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      option(value='4') 04
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-2.col-sm-2.padd-0
                  button.btn.theme-btn.cl-white.seub-btn(type='submit')   SEARCH
    | &#x9;&#x9;
    .clearfix
    // ================ Slideshow Banner End ================
    // ====================== How It Work =================
    section.how-it-works
      .container
        .row
          .col-md-12
            .heading
              span.theme-cl Working Process
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h1 How It Works?
        | &#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;
        .row
          .col-md-4.col-sm-4
            .work-process
              .process-img
                img.img-responsive(src='assets/img/tour-1.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.process-num 01
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h4 Choose a Destination &amp; Guide
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Post a job to tell us about your project. We&apos;ll quickly match you with the right freelancers.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .col-md-4.col-sm-4
            .work-process
              .process-img
                img.img-responsive(src='assets/img/tour-2.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.process-num 02
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h4 Choose your guide &amp; Customize
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Post a job to tell us about your project. We&apos;ll quickly match you with the right freelancers.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .col-md-4.col-sm-4
            .work-process
              .process-img
                img.img-responsive(src='assets/img/tour-3.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.process-num 03
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h4 Book Your Guide Online
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Post a job to tell us about your project. We&apos;ll quickly match you with the right freelancers.
    // ====================== How It Work =================
    .clearfix
    // ====================== Popular Destination =================
    section.destination.gray-bg
      .container
        .row
          .col-md-12
            .heading
              span.theme-cl View Destinations
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h1 Popular Destinations
        | &#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;
        .row
          .list-slider
            // Single Destination
            .list-slide-box
              article.destination-box.style-1
                .destination-box-image
                  figure
                    a(href='/destination-detail')
                      img.img-responsive.listing-box-img(src='assets/img/destination/des-1.jpg', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .list-overlay
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .discount-flick -12%
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h4.destination-place
                      a(href='/destination-detail') Bali, Indonesia
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.list-like.left(href='#')
                      i.ti-heart
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .entry-meta
                  .meta-item.meta-rating
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star-half
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-comment.fl-right
                    span.text-through $2887
                    span.real-price.padd-l-10.font-bold $2782
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .inner-box
                  .box-inner-ellipsis
                    h4.entry-location
                      a(href='/destination-detail') New York, US
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .price-box
                      .destination-price.fl-right
                        a(href='#')
                          i.theme-cl.ti-arrow-right
            // Single Destination
            .list-slide-box
              article.destination-box.style-1
                .destination-box-image
                  figure
                    a(href='/destination-detail')
                      img.img-responsive.listing-box-img(src='assets/img/destination/des-2.jpg', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .list-overlay
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .discount-flick -12%
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h4.destination-place
                      a(href='/destination-detail') Grand Canyon National Park
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.list-like.left(href='#')
                      i.ti-heart
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .entry-meta
                  .meta-item.meta-rating
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star-half
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-comment.fl-right
                    span.text-through $2587
                    span.real-price.padd-l-10.font-bold $1282
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .inner-box
                  .box-inner-ellipsis
                    h4.entry-location
                      a(href='/destination-detail') Hong Kong
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .price-box
                      .destination-price.fl-right
                        a(href='#')
                          i.theme-cl.ti-arrow-right
            // Single Destination
            .list-slide-box
              article.destination-box.style-1
                .destination-box-image
                  figure
                    a(href='/destination-detail')
                      img.img-responsive.listing-box-img(src='assets/img/destination/des-3.jpg', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .list-overlay
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .discount-flick -12%
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h4.destination-place
                      a(href='/destination-detail') Prague, Czech Republic
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.list-like.left(href='#')
                      i.ti-heart
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .entry-meta
                  .meta-item.meta-rating
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star-half
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-comment.fl-right
                    span.text-through $2569
                    span.real-price.padd-l-10.font-bold $2547
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .inner-box
                  .box-inner-ellipsis
                    h4.entry-location
                      a(href='/destination-detail') Netherlands
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .price-box
                      .destination-price.fl-right
                        a(href='#')
                          i.theme-cl.ti-arrow-right
            // Single Destination
            .list-slide-box
              article.destination-box.style-1
                .destination-box-image
                  figure
                    a(href='/destination-detail')
                      img.img-responsive.listing-box-img(src='assets/img/destination/des-4.jpg', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .list-overlay
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .discount-flick -12%
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h4.destination-place
                      a(href='/destination-detail') Marrakech, Morroco
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.list-like.left(href='#')
                      i.ti-heart
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .entry-meta
                  .meta-item.meta-rating
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star-half
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-comment.fl-right
                    span.text-through $1856
                    span.real-price.padd-l-10.font-bold $1750
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .inner-box
                  .box-inner-ellipsis
                    h4.entry-location
                      a(href='/destination-detail') Saudi Arabia
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .price-box
                      .destination-price.fl-right
                        a(href='#')
                          i.theme-cl.ti-arrow-right
            // Single Destination
            .list-slide-box
              article.destination-box.style-1
                .destination-box-image
                  figure
                    a(href='/destination-detail')
                      img.img-responsive.listing-box-img(src='assets/img/destination/des-5.jpg', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .list-overlay
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .discount-flick -12%
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h4.destination-place
                      a(href='#') New York City, New York
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.list-like.left(href='#')
                      i.ti-heart
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .entry-meta
                  .meta-item.meta-rating
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star-half
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-comment.fl-right
                    span.text-through $4525
                    span.real-price.padd-l-10.font-bold $4258
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .inner-box
                  .box-inner-ellipsis
                    h4.entry-location
                      a(href='/destination-detail') Switzerland
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .price-box
                      .destination-price.fl-right
                        a(href='#')
                          i.theme-cl.ti-arrow-right
            // Single Destination
            .list-slide-box
              article.destination-box.style-1
                .destination-box-image
                  figure
                    a(href='/destination-detail')
                      img.img-responsive.listing-box-img(src='assets/img/destination/des-6.jpg', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .list-overlay
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .discount-flick -12%
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h4.destination-place
                      a(href='/destination-detail') Halifax, Nova Scotia 
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.list-like.left(href='#')
                      i.ti-heart
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .entry-meta
                  .meta-item.meta-rating
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star-half
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-comment.fl-right
                    span.text-through $7802
                    span.real-price.padd-l-10.font-bold $7581
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .inner-box
                  .box-inner-ellipsis
                    h4.entry-location
                      a(href='/destination-detail') Singapore
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .price-box
                      .destination-price.fl-right
                        a(href='#')
                          i.theme-cl.ti-arrow-right
    // ====================== Popular Destination End =================
    .clearfix
    // ====================== Top Tour & Activities =================
    section
      .container
        .row
          .col-md-12
            .heading
              span.theme-cl Select Tour
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h1 Top Tour &amp; Activities
        | &#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;
        .row
          // Single Tour
          .col-md-4.col-sm-4
            article.tour-box.style-1
              .tour-box-image
                figure
                  a(href='tour-detail')
                    img.img-responsive.listing-box-img(src='assets/img/tour/tour-5.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .list-overlay
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .entry-bookmark
                    a(href='#')
                      i.ti-bookmark
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .tour-time
                    i.ti.ti-car
                    span 17h
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  h4.destination-place
                    a(href='#') Dubai, United Arab Emirates
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.featured-tour
                    i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a.list-like.left(href='#')
                    i.ti-heart
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .entry-meta
                .meta-item.meta-author
                  .coauthors
                    span.vcard.author
                      span.fn
                        a(href='#')
                          img.avatar.avatar-24(alt='', src='assets/img/user-5.jpg', height='24', width='24')
                          | Lisa Scholfield
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .meta-item.meta-comment.fl-right
                  i.ti-comment-alt
                  span 15
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .meta-item.meta-rating.fl-right
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star-half
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .inner-box
                .box-inner-ellipsis
                  h4.entry-title
                    a(href='tour-detail') Saudi Arabia
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .price-box
                    .tour-price.fl-right
                      i.ti.ti-user
                      span.theme-cl.f-bold $117
          // Single Tour
          .col-md-4.col-sm-4
            article.tour-box.style-1
              .tour-box-image
                figure
                  a(href='tour-detail')
                    img.img-responsive.listing-box-img(src='assets/img/tour/tour-6.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .list-overlay
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .entry-bookmark
                    a(href='#')
                      i.ti-bookmark
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .tour-time
                    i.ti.ti-car
                    span 1 day
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  h4.destination-place
                    a(href='#') Paris, France. neirfy
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.featured-tour
                    i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a.list-like.left(href='#')
                    i.ti-heart
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .entry-meta
                .meta-item.meta-author
                  .coauthors
                    span.vcard.author
                      span.fn
                        a(href='#')
                          img.avatar.avatar-24(alt='', src='assets/img/user-6.jpg', height='24', width='24')
                          | Lisa Scholfield
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .meta-item.meta-comment.fl-right
                  i.ti-comment-alt
                  span 22
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .meta-item.meta-rating.fl-right
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star-half
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .inner-box
                .box-inner-ellipsis
                  h4.entry-title
                    a(href='tour-detail') Singapore
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .price-box
                    .tour-price.fl-right
                      i.ti.ti-user
                      span.theme-cl.f-bold $310
          // Single Tour
          .col-md-4.col-sm-4
            article.tour-box.style-1
              .tour-box-image
                figure
                  a(href='tour-detail')
                    img.img-responsive.listing-box-img(src='assets/img/tour/tour-2.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .list-overlay
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .entry-bookmark
                    a(href='#')
                      i.ti-bookmark
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .tour-time
                    i.ti.ti-car
                    span 70h
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  h4.destination-place
                    a(href='#') London, England. AndreaAstes
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.featured-tour
                    i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a.list-like.left(href='#')
                    i.ti-heart
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .entry-meta
                .meta-item.meta-author
                  .coauthors
                    span.vcard.author
                      span.fn
                        a(href='#')
                          img.avatar.avatar-24(alt='', src='assets/img/user-7.jpg', height='24', width='24')
                          | Lisa Scholfield
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .meta-item.meta-comment.fl-right
                  i.ti-comment-alt
                  span 15
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .meta-item.meta-rating.fl-right
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-star-half
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .inner-box
                .box-inner-ellipsis
                  h4.entry-title
                    a(href='tour-detail') United Kingdom
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .price-box
                    .tour-price.fl-right
                      i.ti.ti-user
                      span.theme-cl.f-bold $217
    // ====================== Top Tour & Activities =================
    .clearfix
    // ============== Before Footer ======================
    block content_contact 
        include _contact

block content_footer 
    include _footer