extends base

mixin sortBy(gridRoute, listRoute)
    .tr-single-box.short-box
        .col-sm-3.hidden-xs.align-self-center
            h4 sort by
        .col-sm-9.text-right
            .btn-group.mr-lg-2
                button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | sort by
                .dropdown-menu.pull-right.animated.flipInX
                    a(href='#') Ascending
                    a(href='#') Descending
                    a(href='#') Date
            .btn-group
                a.btn.btn-default.tooltips(href=gridRoute, listRoute)
                    i.ti-flix.ti-layout-grid2
            .btn-group
                a.btn.btn-default.tooltips(href=listRoute)
                    i.ti-flix.ti-view-list-alt



block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/hotel.jpg);')
        .container
            .page-title-wrap
                h2 Hotel Grid Sidebar
                p
                    a.theme-cl(href='/') Home
                    |  | 
                    span Hotel Grid Sidebar
    // ======================= End Page Title =====================
    // =========== Start All Hotel In Grid View ===================
    section.gray-bg
        .container
            .row
                // Filter Sidebar
                .col-md-4.col-sm-12
                    include _sidebar
                // All Item
                .col-md-8.col-sm-12
                    // Row
                    .row.mrg-0
                        +sortBy('/hotel-grid-sidebar','/hotel-list-sidebar')

                    // /Row
                    // Row
                    .row
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-1.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -12%
                                        h4.hotel-place
                                            a(href='#') New York, Us
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $710/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Hotel Green Vallery
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-success
                                                i.ti-check
                                            h6
                                                span.cl-success.font-bold Good
                                                | 1362 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 782
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-2.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -10%
                                        h4.hotel-place
                                            a(href='#') Hong Kong
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $610/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Antique Resort
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-warning
                                                i.ti-check
                                            h6
                                                span.cl-warning.font-bold Fair
                                                | 122 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 1782
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-3.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -11%
                                        h4.hotel-place
                                            a(href='#') United Kingdom
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $863/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Iceberg Resort
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-success
                                                i.ti-check
                                            h6
                                                span.cl-success.font-bold Good
                                                | 872 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 1875
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-4.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -12%
                                        h4.hotel-place
                                            a(href='#') Qatar
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $580/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Vision Motel
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-success
                                                i.ti-check
                                            h6
                                                span.cl-success.font-bold Good
                                                | 1587 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 658
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-5.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -20%
                                        h4.hotel-place
                                            a(href='#') Singapore
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $910/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Monsoon Motel
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-danger
                                                i.ti-check
                                            h6
                                                span.cl-danger.font-bold Poor
                                                | 870 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 540
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-6.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -15%
                                        h4.hotel-place
                                            a(href='#') Switzerland
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $640/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Comfort Motel
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-warning
                                                i.ti-check
                                            h6
                                                span.cl-warning.font-bold Fair
                                                | 1422 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 782
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-7.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -14%
                                        h4.hotel-place
                                            a(href='#') San Marino
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $810/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Farmhouse Hotel
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-info
                                                i.ti-check
                                            h6
                                                span.cl-info.font-bold Superb
                                                | 1024 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 568
                        // Single Hotel
                        .col-md-6.col-sm-6
                            article.hotel-box.style-1
                                .hotel-box-image
                                    figure
                                        a(href='/hotel-detail')
                                            img.img-responsive.listing-box-img(src='assets/img/hotel/hotel-8.jpg' alt='')
                                            .list-overlay
                                            .read_more
                                                span Read more
                                        .discount-flick -10%
                                        h4.hotel-place
                                            a(href='#') United States
                                .entry-meta
                                    .meta-item.meta-rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half
                                    .meta-item.meta-comment.fl-right
                                        span.real-price.padd-l-10 From $510/Person
                                .hotel-detail-box
                                    .hotel-ellipsis
                                        h4.hotel-name
                                            a(href='/hotel-detail') Ivory House Hotel
                                        p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                                .hotel-inner.inner-box
                                    .box-inner-ellipsis
                                        .hotel-review.entry-location
                                            span.review-status.bg-success
                                                i.ti-check
                                            h6
                                                span.cl-success.font-bold Good
                                                | 256 Review
                                        .view-box
                                            .fl-right
                                                span
                                                    i.ti-eye.padd-r-5
                                                    | 652
                    // /Row
                    .row
                        ul.pagination
                            li.page-item
                                a.page-link(href='#' aria-label='Previous')
                                    span.ti-arrow-left
                                    span.sr-only Previous
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item.active
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') 4
                            li.page-item
                                a.page-link(href='#') 5
                            li.page-item
                                a.page-link(href='#' aria-label='Next')
                                    span.ti-arrow-right
                                    span.sr-only Next
    block content_contact 
        include _contact

//- block content_footer 
//-     include _footer