extends base

mixin sortBy(gridRoute, listRoute)
    .tr-single-box.short-box
        .col-sm-3.hidden-xs.align-self-center
            h4 sort by
        .col-sm-9.text-right
            .btn-group.mr-lg-2
                button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | sort by
                .dropdown-menu.pull-right.animated.flipInX
                    a(href='#') Ascending
                    a(href='#') Descending
                    a(href='#') Date
            .btn-group
                a.btn.btn-default.tooltips(href=gridRoute, listRoute)
                    i.ti-flix.ti-layout-grid2
            .btn-group
                a.btn.btn-default.tooltips(href=listRoute)
                    i.ti-flix.ti-view-list-alt




block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/hotel.jpg);')
        .container
            .page-title-wrap
                h2 Hotel List
                p
                    a.theme-cl(href='#') Home
                    |  | 
                    span Hotel List
    // ======================= End Page Title =====================
    // =========== Start All Hotel In Grid View ===================
    section.gray-bg
        .container
            // Row
            .row.mrg-0
                .tr-single-box.short-box
                    +sortBy('hotel-grid', 'hotel-list')
            // /Row
            .row
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-1.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') Netherlands
                                    span.featured-tour
                                        i.fa.fa-star
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -12%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Antique Resort
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $254
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-warning
                                                    i.ti-check
                                                h6
                                                    span.cl-warning.font-bold fair
                                                    | 1050 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 782
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-2.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') Saudi Arabia
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -13%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Iceberg Resort
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $220
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-success
                                                    i.ti-check
                                                h6
                                                    span.cl-success.font-bold Good
                                                    | 1062 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 1782
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-3.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') United States
                                    span.featured-tour
                                        i.fa.fa-star
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -10%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Vision Motel
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $424
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-info
                                                    i.ti-check
                                                h6
                                                    span.cl-info.font-bold superb
                                                    | 1362 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 7254
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-4.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') San Marino
                                    span.featured-tour
                                        i.fa.fa-star
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -12%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Monsoon Motel
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $324
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-danger
                                                    i.ti-check
                                                h6
                                                    span.cl-danger.font-bold poor
                                                    | 1240 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 2412
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-5.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') Switzerland
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -20%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Comfort Motel
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $324
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-success
                                                    i.ti-check
                                                h6
                                                    span.cl-success.font-bold Good
                                                    | 1300 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 2541
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-6.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') Singapore
                                    span.featured-tour
                                        i.fa.fa-star
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -11%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Farmhouse Hotel
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $234
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-info
                                                    i.ti-check
                                                h6
                                                    span.cl-info.font-bold superb
                                                    | 2541 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 3215
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-7.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') United Kingdom
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -12%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Ivory House Hotel
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $324
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-warning
                                                    i.ti-check
                                                h6
                                                    span.cl-warning.font-bold fair
                                                    | 1110 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 2540
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                // Singl hotel List
                .col-lg-6.col-md-6
                    article.hotel-box.list-style
                        .row
                            .col-md-5.col-sm-5
                                .hotel-box-image
                                    a(href='/hotel-detail')
                                        img.img-responsive.hotel-box-img(src='assets/img/hotel/hotel-8.jpg' alt='')
                                    .entry-bookmark
                                        a(href='#')
                                            i.ti-bookmark
                                    h4.hotel-place
                                        a(href='#') Qatar
                                    span.featured-tour
                                        i.fa.fa-star
                            .col-md-7.col-sm-7
                                .inner-box
                                    .discount-flick -10%
                                    .box-inner-ellipsis
                                        div(style='margin: 0px; padding: 0px; border: 0px;')
                                            h3.entry-title
                                                a(href='/hotel-detail') Prophecy Motel
                                            .entry-content
                                                p
                                                    | Post A Job To Tell Us About Your Project. We&apos;ll Quickly Match You With The Right Freelancers.
                                                span.price
                                                    | From 
                                                    strong.theme-cl $224
                                                    |  /per person
                                    .entry-meta
                                        .meta-item.meta-author
                                            .hotel-review.entry-location
                                                span.review-status.bg-success
                                                    i.ti-check
                                                h6
                                                    span.cl-success.font-bold Good
                                                    | 1200 Review
                                        .meta-item.meta-comment.fl-right
                                            .view-box
                                                .fl-right
                                                    span
                                                        i.ti-eye.padd-r-5
                                                        | 1258
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
            .row
                ul.pagination
                    li.page-item
                        a.page-link(href='#' aria-label='Previous')
                            span.ti-arrow-left
                            span.sr-only Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item.active
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#' aria-label='Next')
                            span.ti-arrow-right
                            span.sr-only Next
    block content_contact 
        include _contact

//- block content_footer 
//-     include _footer