extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        #dashboard-menu.collapse.sidebar-collapse
                            .profile-wrapper
                                .profile-wrapper-thumb
                                    img.img-responsive.img-circle(src='assets/img/user-3.jpg' alt='')
                                    span.dashboard-user-status.bg-success
                                h4 Duke Daniel
                            ul#main-menu.nav
                                li
                                    a(href='/dashboard')
                                        i.fa.fa-dashboard(aria-hidden='true')
                                        | Dashboard
                                li
                                    a(href='/messages')
                                        i.ti-email(aria-hidden='true')
                                        | Messages
                                li.active
                                    a(href='javascript:void(0)')
                                        i.fa.fa-clone(aria-hidden='true')
                                        | Manage Listing 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='/manage-hotels')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Hotels
                                        li
                                            a(href='/manage-tours')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Tours
                                        li
                                            a(href='/manage-destinations')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Destinations
                                        li
                                            a(href='/manage-restaurants')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Manage Restaurants
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-location-pin(aria-hidden='true')
                                        | Add Listings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='add-hotel')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Hotels
                                        li
                                            a(href='add-tour')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Tours
                                        li
                                            a(href='add-destination')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Destinations
                                        li
                                            a(href='add-restaurant')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Add Restaurants
                                li
                                    a(href='invoice')
                                        i.fa-print(aria-hidden='true')
                                        | Invoice
                                li
                                    a(href='javascript:void(0)')
                                        i.ti-calendar(aria-hidden='true')
                                        | My Booking 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='bookings')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Bookings
                                li
                                    a(href='javascript:void(0)')
                                        i.fa.fa-cog(aria-hidden='true')
                                        | Settings 
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='basic-settings')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Basic Settings
                                        li
                                            a(href='site-settings')
                                                i.fa.fa-circle-o-notch(aria-hidden='true')
                                                | Site Settings
                                li
                                    a(href='my-profile')
                                        i.ti-user(aria-hidden='true')
                                        | My Profile
                                li.log-off
                                    a(href='login')
                                        i.fa.fa-power-off(aria-hidden='true')
                                        | Logout
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title Manage Destination
                            .tr-single-body
                                .row
                                    // Single Destination
                                    .col-md-4.col-sm-6
                                        article.destination-box.style-1
                                            .destination-box-image
                                                figure
                                                    a(href='/destination-detail')
                                                        img.img-responsive.listing-box-img(src='assets/img/destination/des-4.jpg' alt='')
                                                        .list-overlay
                                                    .discount-flick -12%
                                                    h4.destination-place
                                                        a(href='/destination-detail') Marrakech, Morroco
                                                    a.list-like.left(href='#')
                                                        i.ti-heart
                                            .entry-meta
                                                .meta-item.meta-rating
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                                                .meta-item.meta-comment.fl-right
                                                    span.text-through $1856
                                                    span.real-price.padd-l-10.font-bold $1750
                                            .inner-box
                                                .box-inner-ellipsis
                                                    h4.entry-location
                                                        a(href='/destination-detail') Saudi Arabia
                                                    .price-box
                                                        .destination-price.fl-right
                                                            a(href='#')
                                                                i.theme-cl.ti-arrow-right
                                    // Single Destination
                                    .col-md-4.col-sm-6
                                        article.destination-box.style-1
                                            .destination-box-image
                                                figure
                                                    a(href='/destination-detail')
                                                        img.img-responsive.listing-box-img(src='assets/img/destination/des-5.jpg' alt='')
                                                        .list-overlay
                                                    .discount-flick -12%
                                                    h4.destination-place
                                                        a(href='/destination-detail') New York City, New York
                                                    a.list-like.left(href='#')
                                                        i.ti-heart
                                            .entry-meta
                                                .meta-item.meta-rating
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                                                .meta-item.meta-comment.fl-right
                                                    span.text-through $4525
                                                    span.real-price.padd-l-10.font-bold $4258
                                            .inner-box
                                                .box-inner-ellipsis
                                                    h4.entry-location
                                                        a(href='/destination-detail') Switzerland
                                                    .price-box
                                                        .destination-price.fl-right
                                                            a(href='#')
                                                                i.theme-cl.ti-arrow-right
                                    // Single Destination
                                    .col-md-4.col-sm-6
                                        article.destination-box.style-1
                                            .destination-box-image
                                                figure
                                                    a(href='/destination-detail')
                                                        img.img-responsive.listing-box-img(src='assets/img/destination/des-6.jpg' alt='')
                                                        .list-overlay
                                                    .discount-flick -12%
                                                    h4.destination-place
                                                        a(href='/destination-detail') Halifax, Nova Scotia 
                                                    a.list-like.left(href='#')
                                                        i.ti-heart
                                            .entry-meta
                                                .meta-item.meta-rating
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                                                .meta-item.meta-comment.fl-right
                                                    span.text-through $7802
                                                    span.real-price.padd-l-10.font-bold $7581
                                            .inner-box
                                                .box-inner-ellipsis
                                                    h4.entry-location
                                                        a(href='/destination-detail') Singapore
                                                    .price-box
                                                        .destination-price.fl-right
                                                            a(href='#')
                                                                i.theme-cl.ti-arrow-right
                                    // Single Destination
                                    .col-md-4.col-sm-6
                                        article.destination-box.style-1
                                            .destination-box-image
                                                figure
                                                    a(href='/destination-detail')
                                                        img.img-responsive.listing-box-img(src='assets/img/destination/des-7.jpg' alt='')
                                                        .list-overlay
                                                    .discount-flick -12%
                                                    h4.destination-place
                                                        a(href='/destination-detail') San Jose, Costa Rica
                                                    a.list-like.left(href='#')
                                                        i.ti-heart
                                            .entry-meta
                                                .meta-item.meta-rating
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                                                .meta-item.meta-comment.fl-right
                                                    span.text-through $2300
                                                    span.real-price.padd-l-10.font-bold $2250
                                            .inner-box
                                                .box-inner-ellipsis
                                                    h4.entry-location
                                                        a(href='/destination-detail') New York, US
                                                    .price-box
                                                        .destination-price.fl-right
                                                            a(href='#')
                                                                i.theme-cl.ti-arrow-right
                                    // Single Destination
                                    .col-md-4.col-sm-6
                                        article.destination-box.style-1
                                            .destination-box-image
                                                figure
                                                    a(href='/destination-detail')
                                                        img.img-responsive.listing-box-img(src='assets/img/destination/des-8.jpg' alt='')
                                                        .list-overlay
                                                    .discount-flick -12%
                                                    h4.destination-place
                                                        a(href='/destination-detail') Casablanca, Morocco
                                                    a.list-like.left(href='#')
                                                        i.ti-heart
                                            .entry-meta
                                                .meta-item.meta-rating
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                                                .meta-item.meta-comment.fl-right
                                                    span.text-through $2650
                                                    span.real-price.padd-l-10.font-bold $2563
                                            .inner-box
                                                .box-inner-ellipsis
                                                    h4.entry-location
                                                        a(href='/destination-detail') Casablanca
                                                    .price-box
                                                        .destination-price.fl-right
                                                            a(href='#')
                                                                i.theme-cl.ti-arrow-right
                                    // Single Destination
                                    .col-md-4.col-sm-6
                                        article.destination-box.style-1
                                            .destination-box-image
                                                figure
                                                    a(href='/destination-detail')
                                                        img.img-responsive.listing-box-img(src='assets/img/destination/des-9.jpg' alt='')
                                                        .list-overlay
                                                    .discount-flick -12%
                                                    h4.destination-place
                                                        a(href='/destination-detail') London, United Kingdom
                                                    a.list-like.left(href='#')
                                                        i.ti-heart
                                            .entry-meta
                                                .meta-item.meta-rating
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star-half
                                                .meta-item.meta-comment.fl-right
                                                    span.text-through $5800
                                                    span.real-price.padd-l-10.font-bold $5682
                                            .inner-box
                                                .box-inner-ellipsis
                                                    h4.entry-location
                                                        a(href='/destination-detail') United Kingdom
                                                    .price-box
                                                        .destination-price.fl-right
                                                            a(href='#')
                                                                i.theme-cl.ti-arrow-right
                                .row
                                    ul.pagination
                                        li.page-item
                                            a.page-link(href='#' aria-label='Previous')
                                                span.ti-arrow-left
                                                span.sr-only Previous
                                        li.page-item
                                            a.page-link(href='#') 1
                                        li.page-item
                                            a.page-link(href='#') 2
                                        li.page-item.active
                                            a.page-link(href='#') 3
                                        li.page-item
                                            a.page-link(href='#') 4
                                        li.page-item
                                            a.page-link(href='#') 5
                                        li.page-item
                                            a.page-link(href='#' aria-label='Next')
                                                span.ti-arrow-right
                                                span.sr-only Next
    block content_contact 
        include _contact

block content_footer 
    include _footer