extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        include _dashboard_sidebar
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title Messages
                            .tr-single-body
                                // row
                                .row.mrg-bot-15
                                    .col-md-4.col-sm-7
                                        input.form-control.height-50(type='text' value='' placeholder='Search by listing name')
                                    .col-md-6.col-sm-5
                                        input.btn.theme-btn.height-50.width-150(type='submit' value='Search')
                                // row
                                .row
                                    .inbox-message
                                        ul
                                            each doc in payload
                                                -const summary = doc.message.split(".")[0]
                                                -const state = doc.state ==="read" 
                                                li
                                                    a(href=`/replies/${doc._id}`)
                                                        .message-avatar
                                                            img(src='assets/img/user-1.jpg' alt='')
                                                        .message-body
                                                            .message-body-heading
                                                                h5= doc.subject
                                                                    if state
                                                                        span.read answered
                                                                    else
                                                                        span.unread unanswered
                                                                if state
                                                                    span= doc.updatedAt
                                                                else 
                                                                    span Not answered    
                                                            p= `${summary}...`

    block content_contact 
        include _contact

//- block content_footer 
//-     include _footer