extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        include _dashboard_sidebar
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title My Profile
                            .tr-single-body
                                .row
                                    // col-md-4
                                    .col-md-4
                                        p
                                            label First Name
                                            input#firstname.form-control(required='' type='text' value='Shaurya' name='firstname')
                                        p
                                            label Last Name
                                            input#lastname.form-control(required='' type='text' value='Preet' name='firstname')
                                        p
                                            label Email
                                            input#useremail.form-control(required='' type='text' value='danielraj@gmail.com' name='useremail')
                                        p
                                            label About Me
                                            textarea#about_me.form-control(name='about_me')
                                        p
                                            label I live in
                                            input#live_in.form-control(type='text' value='' name='live_in')
                                        p
                                            label I speak
                                            input#i_speak.form-control(type='text' value='' name='i_speak')
                                        
                                        form#msform
                                            input.next.action-button(type='button' name='create' value='create' id="profile_create")
                                    // /col-md-4
                                    // col-md-4
                                    .col-md-4
                                        p
                                            label Phone
                                            input#userphone.form-control(type='text' value='' name='userphone')
                                        p
                                            label city
                                            input#usermobile.form-control(type='text' value='' name='usermobile')

                                        p
                                            label Facebook Url
                                            input#userfacebook.form-control(type='text' value='' name='userfacebook')
                                        p
                                            label Twitter Url
                                            input#usertwitter.form-control(type='text' value='' name='usertwitter')
                                        p
                                            label Linkedin Url
                                            input#userlinkedin.form-control(type='text' value='' name='userlinkedin')
                                        p
                                            label Pinterest Url
                                            input#userpinterest.form-control(type='text' height='100' value='' name='userpinterest')


                                    .col-md-4
                                        #profile-div.feature-media-upload
                                            img#profile-image.img-responsive(src='assets/img/user-3.jpg' alt='user image')
                                            #upload-container
                                                #aaiu-upload-container(style='position: relative;')
                                                    button#aaiu-uploader.btn.theme-btn.full-width(type='file') Upload Image
                                                span.upload_explain * recommended size: minimum 550px 
                                    // /col-md-4
    block content_contact 
        include _contact

    script(src='/assets/js/profile.js')


//- block content_footer 
//-     include _footer