html
  head
    link(rel='stylesheet' href='assets/css/reset-style.css')

  body
    .panel
      img.panel__avatar(src='assets/img/user-1.jpg', alt='avatar')
      form.inputs(action='', method='post')
        .inputs__item
          label.inputs__label(for='new-password') new password
          input#new-password.inputs__input(type='password', value='password')
        .inputs__item.inputs__item--new
          label.inputs__label(for='password-confirm') password confirm
          input#password-confirm.inputs__input(type='password', value='password')
        .inputs__item.inputs__item--cta
          input.btn(type='submit', value='RESET')