extends base

block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                    include _dashboard_sidebar
                    include _info_confirm_modal
                    include _resource_delete_modal
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title reply page
                            .tr-single-body
                                form#msform
                                    // fieldsets
                                    fieldset
                                        .row
                                            .col-25
                                                label(for='user_name') name:
                                            .col-75
                                                input#asker_name(readonly type='text', name='lat', value = payload.name, placeholder='name')            
                                        .row
                                            .col-25
                                                label(for='message_id') message id:
                                            .col-75
                                                input#message_id(readonly type='text', name='lat', value = payload._id, placeholder='message id')      
                                        .row
                                            .col-25
                                                label(for='asker_id') asker id:
                                            .col-75
                                                input#asker_id(readonly type='text', name='lat', value = payload.user._id, placeholder='user id')                                          
                                        .row
                                            .col-25
                                                label(for='user_email') email:
                                            .col-75
                                                input#asker_email(readonly type='text', name='lat', value = payload.email, placeholder='name')     
                                        .row
                                            .col-25
                                                label(for='user_phone') phone:
                                            .col-75
                                                input#asker_phone(readonly type='text', name='lat', value = payload.phone, placeholder='name')     
                                        .row
                                            .col-25
                                                label(for='user_subject') subject:
                                            .col-75
                                                input#question_subject(readonly type='text', name='lat', value = payload.subject, placeholder='name')     
                                        .row
                                            .col-xs-12
                                                label(for='original_message') original message
                                                textarea#original_message.form-control.height-120(readonly placeholder='original message' )= payload.message
                                            each reply in payload.replies 
                                                .col-xs-12
                                                    label(for='original_message') admin said:
                                                    textarea.form-control.height-120(readonly placeholder='original message' )= reply.message
                                            .col-xs-12
                                                label your reply
                                                textarea#reply.form-control.height-120(placeholder='type reply here...')

                                        input.next.action-button(type='button' name='next' value='submit' id='reply_submit')
                                        input.next.action-button(type='button' name='next' value='delete' id='message_delete')
       
    block content_contact 
        include _contact

    script(src='/assets/js/reply.js')
   
