extends base

mixin sortBy(gridRoute, listRoute)
    .tr-single-box.short-box
        .col-sm-3.hidden-xs.align-self-center
            h4 sort by
        .col-sm-9.text-right
            .btn-group.mr-lg-2
                button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | sort by
                .dropdown-menu.pull-right.animated.flipInX
                    a(href='#') Ascending
                    a(href='#') Descending
                    a(href='#') Date
            .btn-group
                a.btn.btn-default.tooltips(href=gridRoute, listRoute)
                    i.ti-flix.ti-layout-grid2
            .btn-group
                a.btn.btn-default.tooltips(href=listRoute)
                    i.ti-flix.ti-view-list-alt



block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/restaurant.jpg);')
        .container
            .page-title-wrap
                h2 Restaurant Grid
                p
                    a.theme-cl(href='/') Home
                    |  | 
                    span Restaurant Grid
    // ======================= End Page Title =====================
    // =========== Start All Restaurent In Grid View ===================
    section.gray-bg
        .container
            .row.mrg-0
                +sortBy('/restaurant-grid','/restaurant-list')
            .row
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-1.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') Netherlands
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $710/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') restaurent Green Vallery
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-warning
                                        i.ti-check
                                    h6
                                        span.cl-warning.font-bold Fair
                                        | 1362 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 782
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-2.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') Saudi Arabia
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $840/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') The Dwarf Pond
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-success
                                        i.ti-check
                                    h6
                                        span.cl-success.font-bold Good
                                        | 159 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 1820
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-3.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') United States
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $810/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') The Eastern Lily
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-info
                                        i.ti-check
                                    h6
                                        span.cl-info.font-bold Superb
                                        | 762 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 1750
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-4.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') San Marino
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $920/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') The Chili Shack
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-success
                                        i.ti-check
                                    h6
                                        span.cl-success.font-bold Good
                                        | 584 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 1582
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-5.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') Switzerland
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $874/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') Olive Grove
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-danger
                                        i.ti-check
                                    h6
                                        span.cl-danger.font-bold Poor
                                        | 162 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 658
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-6.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') Ireland
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $870/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') The Dairy Balcony
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-warning
                                        i.ti-check
                                    h6
                                        span.cl-warning.font-bold Fair
                                        | 1402 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 2200
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-7.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') Singapore
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $690/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') Daydream
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-warning
                                        i.ti-check
                                    h6
                                        span.cl-warning.font-bold Fair
                                        | 162 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 1780
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-8.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') United Kingdom
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $650/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') The Holy Flower
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-info
                                        i.ti-check
                                    h6
                                        span.cl-info.font-bold Superb
                                        | 587 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 1258
                // Single Restaurant
                .col-md-4.col-sm-6
                    article.restaurent-box.style-1
                        .restaurent-box-image
                            figure
                                a(href='/restaurant-detail')
                                    img.img-responsive.listing-box-img(src='assets/img/res/res-9.jpg' alt='')
                                    .list-overlay
                                    .read_more
                                        span Read more
                                a.list-like.theme-bg(href='#')
                                    i.ti-heart
                                h4.restaurent-place
                                    a(href='#') Hong Kong
                        .entry-meta
                            .meta-item.meta-rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half
                            .meta-item.meta-comment.fl-right
                                span.real-price.padd-l-10 From $582/Person
                        .restaurent-detail-box
                            .restaurent-ellipsis
                                h4.restaurent-name
                                    a(href='#') Fluorescence
                                p Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.
                        .restaurent-inner.inner-box
                            .box-inner-ellipsis
                                .restaurent-review.entry-location
                                    span.review-status.bg-danger
                                        i.ti-check
                                    h6
                                        span.cl-danger.font-bold Poor
                                        | 584 Review
                                .view-box
                                    .fl-right
                                        span
                                            i.ti-eye.padd-r-5
                                            | 2580
            .row
                ul.pagination
                    li.page-item
                        a.page-link(href='#' aria-label='Previous')
                            span.ti-arrow-left
                            span.sr-only Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item.active
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#' aria-label='Next')
                            span.ti-arrow-right
                            span.sr-only Next
    block content_contact 
        include _contact

block content_footer 
    include _footer