extends base

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/banner.jpg);')
        .container
            .page-title-wrap
                h2 Confirmation Page
                p
                    a.theme-cl(href='#') Home
                    |  | 
                    span Confirmation Page
    // ======================= End Page Title =====================
    section
        .container
            .success-wrap.text-center
                .success-text
                    i.ti-check.cl-success.font-80
                    h3 Payment Successful!
                    ul
                        li
                            | Order Number:
                            span.fl-right.font-midium #125 458 7589
                        li
                            | Total:
                            span.fl-right.font-25.font-midium $370
                    a.btn.theme-btn(href='index-2.html') Go To Home Page
    block content_contact 
        include _contact

block content_footer 
    include _footer